openapi: 3.0.0
info:
  title: PostNL Ecommerce APIs
  description: |
    Collection of PostNL API's for ecommerce processes
  version: v1
  x-logo:
    url: logo.png
servers:
  - url: 'https://api-sandbox.postnl.nl'
  - url: 'https://api.postnl.nl'
x-tagGroups:
  - name: 'Send & Track'
    tags:
    - Shipment
    - Track & Trace
    - Barcode
    - Labelling
    - Confirming
  - name: 'Checkout & Delivery Options'
    tags:
    - Checkout
    - Postalcode check
    - Deliverydate
    - Timeframes
    - Locations
  - name: 'Reference data'
    tags:
    - Product codes
    - Error codes
    - T&T codes
tags:
- name: Postalcode check
  description: | 
    ### Summary
    
    * Reason to Call: Check Dutch address data that is entered in your webshop checkout.
    * Input: Postalcode + housenumber (+ housenumberaddition)
    * Output: Address
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/checkout/postcodecheck/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1</td>
          <td>July 05, 2019</td>
          <td>Current version</td>
          <td>First version</td>
          <td>-</td>
          <td>REST</td>
        </tr>
      </tbody>
    </table>                          
- name: Checkout
  description: |
    ### Summary
    
    * Reason to Call: Receive information regarding delivery options.
    * Input: Details of dates, address of the customer, order date and delivery options.
    * Output: Timeframes and pickup locations.
    
    Combines the functionality of the DeliveryDate, Timeframe and Location API.
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/checkout/checkout-api/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1</td>
          <td>July 05, 2019</td>
          <td>Current version</td>
          <td>First version</td>
          <td>-</td>
          <td>REST</td>
        </tr>
      </tbody>
    </table>
- name: Deliverydate
  description: |
    ### Summary
    
    * Calculate expected delivery date based on shipping date or required shipping date based on requested delivery date.
    * Input: Address, postalcode, shipping- or delivery date and delivery options.
    * Output: Delivery date and Sent date.
    
    Please note that you can use the all-in-one [Checkout API](#tag/Checkout) as well. This API combines he the functionality of the DeliveryDate, Location and Timeframe webservices. So it will be easier to implement the PostNL delivery options and there is less overhead in requesting the PostNL services by using this 3-in-1 API.
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/delivery-options/deliverydate-webservice/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1_0</td>
          <td>Oct 07, 2013</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_1</td>
          <td>Jan 24, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_2</td>
          <td>Aug 14, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v2_0</td>
          <td>Aug 14, 2015</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_1</td>
          <td>Nov 03, 2015</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_2</td>
          <td>Aug 24, 2017</td>
          <td>Current version</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v2.0
    
    *   CutOffTime and CutOffTimeForSundaySorting replaced by CutOffTimes list. In the previous version of the GetDeliveryDate method, cut off times were specified for weekdays and Sunday in two fields. It is now possible to specify cut off times for every day of the week in the new CutOffTimes field.*   Options field added. It is now possible to specify which delivery options should be considered when returning a delivery or sent date using the new Options field.*   New and updated address fields. Several address fields have been added to the GetDeliveryDate and GetSendDate elements to specify the delivery address more precisely. These fields are: Street, HouseNrExt, City and CountryCode.  
        Furthermore, the HouseNumber field has been renamed to HouseNr.
    
    #### v2.1
    
    *   GetDeliveryDateResponse.Option is removed from the interface. The GetDeliveryDateResponse.Options is added to the interface.
    
    #### v2.2
    
    *   Thee following fields have been added to the interface:  
        OriginCountryCode  
        CutoffTime.Available  
        New delivery option: MyTime (Delivery on demand)
        
        __NOTE: THIS PRODUCT NO LONGER EXIST__
    
    * If applicable, sustainability scores are now returned for each option
- name: Locations
  description: |
    ### Summary
    
    * Reason to Call: Retrieve a list of pick up points that support the option for direct delivery to a standard pick up point.
    * Input: Address, city and country code of the preferred location Or longitude and latitude.
    * Output: Locations nearest to the supplied address, location within the supplied area or location information of the location code.
    
    Please note that you can use the all-in-one [Checkout API](#tag/Checkout) as well. This API combines he the functionality of the DeliveryDate, Location and Timeframe webservices. So it will be easier to implement the PostNL delivery options and there is less overhead in requesting the PostNL services by using this 3-in-1 API.
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/delivery-options/location-webservice/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1_0</td>
          <td>Jul 22, 2013</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_1</td>
          <td>Aug 21, 2014</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_0</td>
          <td>Aug 14, 2015</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v2_1</td>
          <td>May 10, 2016</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1.1
    
    * The operation GetNearestLocations has been updated with new request properties:  
      * Countrycode [M] has been added for international locations  
      * Location.City [O] has been added for better international matching  
      * Location.HouseNr [O] has been added for better international matching  
      * Location.HouseNrExt [O] has been added for better international matching  
      * Location.Street [O] has been added for better international matching
    * The operation GetLocationsInArea has been updated with new request properties:  
      * Countrycode [M] has been added for international locations
      * The operation GetBLSLocation has been removed
      * The operation GetLocation has been added
      * The Location Type has been extended with international address properties.
        
    #### v2.1
    
    * The Location Type has been extended with PartnerLocationCodes (ResponseLocationCode).
    * If applicable, sustainability scores are now returned for each option
    
- name: Timeframes
  description: |
    ### Summary
    
    * Reason to Call: To get a timeframe in which a parcel is estimated to be delivered.
    * Input: Details of dates, delivery options and the address of the recipient.
    * Output: Expected delivery timeframes and the possible reason no timeframe could be given.
    
    Please note that you can use the all-in-one [Checkout API](#tag/Checkout) as well. This API combines he the functionality of the DeliveryDate, Location and Timeframe webservices. So it will be easier to implement the PostNL delivery options and there is less overhead in requesting the PostNL services by using this 3-in-1 API.
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/delivery-options/timeframe-webservice/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
     <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1_0</td>
          <td>Oct 07, 2013</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_1</td>
          <td>Aug 14, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_2</td>
          <td>Oct 08, 2014</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_0</td>
          <td>Aug 14, 2015</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_1</td>
          <td>Jun 01, 2017</td>
          <td>Current version</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1.2
    
    *   The following field has been added to the interface: Timeframe.SundaySorting*   Methods and TijdvakType replaced by options. The methods GetDeliveryTimeframes, GetDaytimeTimeframes, GetEveningTimeframes and GetMorningTimeframes have been replaced by a single GetTimeframes method. To specify the delivery option(s) for which timeframes should be returned, the field Options has been added to the Timeframe element.
    
    #### v2.0
    
    *   The new options Sunday and Sameday are also available in the new GetTimeframes method. The field TijdvakType which indicated which delivery option was applicable to the returned Timeframe and ReasonNoTimeframe elements has been replaced by an Options field. This field uses the same values as the new Options field in the request.*   New and updated address fields. Several address fields have been added to the Timeframe element to specify the delivery address more precisely. These fields are: Street, HouseNrExt, City and CountryCode. CountryCode is a mandatory field. For an address in the Netherlands, specify NL for this field. Furthermore, the HouseNumber field has been renamed to HouseNr.
    
    #### v2.1
    
    *   Added Option value ‘MyTime’ for delivery on demand.*   The following optional fields have been added to the interface (for the delivery on demand product):  
        Timeframe.Interval (used to filter certain timeframes which can be returned for delivery on demand)  
        Timeframe.TimeframeRange.Start (used to specify a specific range of timeframes to be returned for delivery on demand)  
        Timeframe.TimeframeRange.End
                
        __NOTE: THIS PRODUCT NO LONGER EXIST__
        
    #### v2.2
    
    * The following fields have been added to the interface:  
      * OriginCountryCode  
      * CutoffTime.Available
    * If applicable, sustainability scores are now returned for each option
- name: Shipment
  description: |
    ### Summary
    
    * Reason to Call: Create a barcode, shipment and send a confirmation to PostNL
    * Input: All information about the shipment
    * Output: One or more shipping labels
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/send-and-track/shipping-webservice/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1</td>
          <td>April 28, 2020</td>
          <td>Current version</td>
          <td>See below</td>
          <td>-</td>
          <td>REST</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1
    
    In comparison to the Labelling API 2.2:
    
    * If no barcode is included in the request, a unique barcode will be generated.
    * Productcode 4910 (Easy Return Service) can be used in the ProductCodeDelivery attribute. So a cross-border return shipment can be made.
- name: Labelling
  description: |
    ### Summary
    
    * Reason to Call: Create a shipment and send a confirmation to PostNL (optional).
    * Input: All information about the shipment.
    * Output: One or more shipping labels.
    
    With the Confirm boolean in the request (true of false), you can determine if you want to confirm the shipment in the same call or not.
    
    ### Guidelines
    
    At the [DEVELOPER CENTER](https://developer.postnl.nl) you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    ### Versioning
    
    #### REST:
    
    <table>
      <tbody>
        <tr>
          <td>
            <strong>Version</strong>
          </td>
          <td>
            <strong>Release Date</strong>
          </td>
          <td>
            <strong>Status</strong>
          </td>
          <td>
            <strong>Release Notes</strong>
          </td>
          <td>
            <strong>Schema Changes</strong>
          </td>
        </tr>
        <tr>
          <td>2_1</td>
          <td>Jun 01, 2017</td>
          <td>Supported</td>
          <td>See below</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>2_2</td>
          <td>Jan 25, 2019</td>
          <td>Current version</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
    
    #### v2.2
    
    **IN COMPARISON TO THE 2_0 SOAP VERSION**<br>
    the following fields have been added to the interface, in order to implement a commercial route to China:<br>
    * Shipment.Customs.Content.Content.EAN
    * Shipment Customs.Content.Content.ProductURL
    
    The following fields have been added to the interface for Delivery on Demand (Mytime):<br>
    * DeliveryTimestampStart
    * DeliveryTimestampEnd<br>
    __NOTE: THIS PRODUCT NO LONGER EXIST__
    
    #### v2.1
    
    The following fields have been added to the interface for shipments to the USA:<br>    
    * Shipment.Customs.TrustedShipperID
    * Shipment.Customs.ImporterReferenceCode
    * Shipment.Customs.TransactionCode
    * Shipment.Customs.TransactionDescription
    <br><br>
    * Shipment.CodingText (response)<br>
    A Codingtext have been added to the labels for mailbox parcels (brievenbuspakjes).
    
    #### SOAP:
    
    <table>
      <tbody>
        <tr>
          <td>
            <strong>Version</strong>
          </td>
          <td>
            <strong>Release Date</strong>
          </td>
          <td>
            <strong>Status</strong>
          </td>
          <td>
            <strong>Release Notes</strong>
          </td>
          <td>
            <strong>Schema Changes</strong>
          </td>
        </tr>
        <tr>
          <td>1_3</td>
          <td>Dec 27, 2012</td>
          <td>Not supported</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1_4</td>
          <td>Nov 8, 2013</td>
          <td>Not supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>1_5</td>
          <td>Feb 27, 2014</td>
          <td>Not supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>1_6</td>
          <td>Aug 14, 2014</td>
          <td>Supported</td>
          <td>Different namespace</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>1_7</td>
          <td>Nov 14, 2014</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>1_8</td>
          <td>Jan 12, 2015</td>
          <td>Not supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>1_9</td>
          <td>Apr 24, 2015</td>
          <td>Not supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>2_0</td>
          <td>Aug 14, 2015</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>2_1</td>
          <td>July 15, 2017</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>2_2</td>
          <td>Jan 25, 2019</td>
          <td>Current version</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
    
    #### v1.4
    
    The following fields have been added to the interface:
    * Shipment/Content
    * Shipment/CostCenter
    * Shipment/CustomerOrderNumber
    * Shipment/Remark
    * Shipment/ReturnReference
    * Shipment/ReturnBarcode
    * Amount/BIC
    * Amount/IBAN
    
    The following fields have been removed from the interface:
    * Amount/AccountNr
    
    To comply with SEPA regulation, the bank account details must be entered in IBAN format. The COD card has been changed to print the IBAN bank account number.
    
    #### v1.5
    
    Different namespace
    
    Note: due to changes in the backend the Label in the box (return label) functionality is only available from version 1_6 or later.
    
    The following fields have been added to the interface:
    * Shipment\ProductOption\Option
    * Shipment\ProductOption\Characteristic
    * Shipment\DeliveryDate
    * Shipment\DeliveryAddress
    
    #### v1.6
    
    Different namespace
    
    #### v1.7
    
    The following field has been added to the interface:
    * Shipment.DownPartnerLocation
    
    #### v1.8
    
    The following fields have been added to the interface:
    * Shipment.IDNumber
    * Shipment.IDType
    * Shipment.IDExpiration
    * Shipment.ReceiverDateOfBirth
    
    The field StreetHouseNrExt is now usable for locations in NL, BE and DE.
    
    #### v1.9
    
    The request now includes a field for adding a signature to the labels generated by the service. This field is optional, so no change is required to use the new version of the service.
    
    Shipment validation errors now include an error code in addition to the error message.
    
    #### v2.0
    
    Multiple shipments can now be sent in one request to the labelling service. To this end the Shipment field has been replaced by a Shipments field, which contains a list of Shipment elements. The response has also been modified. Instead of a ResponseShipment element, the response now consists of a GenerateLabelResponse element, which has a ResponseShipments field containing multiple ResponseShipment elements.
    
    You can use this functionality with the GraphicFile|PDF|Merge printer types to generate one label document containing multiple labels. These “merged label” documents can be found in the new MergedLabels response field.
    
    If you want to send only one shipment, you have to specify the Shipments element containing one Shipment.
    
    #### v2.1
    
    PostNL has implemented a commercial route to China. In order to do this, the following fields have been added to the interface:
    * Shipment.Customs.Content.Content.EAN
    * Shipment Customs.Content.Content.ProductURL
    
    The Shipment.Customs.Content element can occur up to 10 times instead of 5.
    * DeliveryTimestampStart (Delivery on Demand label)
    * DeliveryTimestampEnd (Delivery on Demand label)
    
    #### v2.2
    
    The following fields have been added to the interface for shipments to the USA:
    * Shipment.Customs.TrustedShipperID
    * Shipment.Customs.ImporterReferenceCode
    * Shipment.Customs.TransactionCode
    * Shipment.Customs.TransactionDescription
    
    A Codingtext have been added to the labels for mailbox parcels (brievenbuspakje)
    * Shipment.CodingText (response)
    
- name: Barcode
  description: |
    ### Summary
    
    * Reason to Call: Generate a barcode for your parcels.
    * Input: Customer code and customer number and some specifications of the required barcode.
    * Output: An unique identifier to use for creating shipments and to track and trace the status of the parcels.
    
    Please note that you can use the all-in-one [Shipping API](#tag/Shipping) as well. This API combines the functionality of the Barcode, Labelling, Confirmation and Easy Return API. With this API you generate unique barcodes at the same time you create a label and so cutting down the number of API requests.
    
    ### Guidelines
    
    At the [DEVELOPER CENTER](#tag/Shipping) you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>1_0</td>
          <td>Oct 01, 2012</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_1</td>
          <td>Oct 28, 2014</td>
          <td>Current version</td>
          <td>Different namespaces</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
      </tbody>
    </table>
- name: Confirming
  description: |
    ### Summary
    
    * Reason to Call: Create and send a confirmation of the parcels to the PostNL system.
    * Input: Information about the shipment.
    * Output: Confirm shipment information.
    
    Please note that you can use the all-in-one [Shipping API](#tag/Shipping) as well. This API combines the functionality of the Barcode, Labelling, Confirmation and Easy Return API. With this API you generate unique barcodes at the same time you create a label and so cutting down the number of API requests.
    
    When using the [Shipping](#tag/Shipping) or Labelling API (With the Confirm boolean true in the request) the Confirming service does no longer need to be integrated in your system.
    
    ### Guidelines
    
    At the [DEVELOPER CENTER](https://developer.postnl.nl) you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>1_2</td>
          <td>Dec 31, 2012</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_3</td>
          <td>Nov 8, 2013</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_4</td>
          <td>Feb 27, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_5</td>
          <td>Aug 14, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_6</td>
          <td>Nov 14, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_7</td>
          <td>Jan 12, 2015</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_8</td>
          <td>Apr 24, 2015</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_9</td>
          <td>Aug 14, 2015</td>
          <td>Supported</td>
          <td>Maintenance release</td>
          <td>No</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>1_10</td>
          <td>July 15, 2017</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
        <tr>
          <td>v2</td>
          <td>Jan 25, 2019</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1.10
    
    *   PostNL has implemented a commercial route to China. In order to do this, the following fields have been added to the interface:
    
    Shipment.Customs.Content.Content.EAN  
    Shipment Customs.Content.Content.ProductURL
    
    The Shipment.Customs.Content element can occur up to 10 times instead of 5.
    
    *   The delivery option Delivery on demand (MyTime) has been introduced and the following fields have been added to the interface:
    
    DeliveryTimestampStart  
    DeliveryTimestampEnd
    
    #### v2
    
    *   The following fields have been added to the interface for International shipments:
    
    Shipment.Customs.TrustedShipperID  
    Shipment.Customs.ImporterReferenceCode  
    Shipment.Customs.TransactionCode  
    Shipment.Customs.TransactionDescription
- name: Track & Trace
  description: |
    ### Summary
    
    * Reason to Call: Receive status information about the shipments.
    * Input: Customer number, barcode or reference.
    * Output: Status information about the shipment(s).
    
    Please note that we have a (pilot) webhooks solution. You can sign up for this solution by sending an email to [DEVELOPER](mailto:developer@postnl.nl). After approval and verifying a number of data our engineers will arrange this webhooks configuration.
    
    ### Guidelines
    
    At the [DEVELOPER CENTER](https://developer.postnl.nl/browse-apis/send-and-track/shippingstatus-webservice/) you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <td>API </td>
          <td>Release date </td>
          <td>Status </td>
          <td>Release notes </td>
          <td>Schema Changes </td>
          <td>Available as </td>
        </tr>
        <tr>
          <td>1_1 </td>
          <td>Oct 1, 2012 </td>
          <td>Not supported </td>
          <td/>
          <td/>
          <td/>
        </tr>
        <tr>
          <td>1_2 </td>
          <td>Nov 8, 2013 </td>
          <td>Not supported </td>
          <td/>
          <td/>
          <td/>
        </tr>
        <tr>
          <td>1_3 </td>
          <td>Feb 27, 2014 </td>
          <td>Supported </td>
          <td>See below </td>
          <td>Yes </td>
          <td/>
        </tr>
        <tr>
          <td>1_4 </td>
          <td>Aug 14, 2014 </td>
          <td>Supported </td>
          <td>Different namespaces </td>
          <td>Yes </td>
          <td/>
        </tr>
        <tr>
          <td>1_5 </td>
          <td>Jan 12, 2015 </td>
          <td>Not supported </td>
          <td/>
          <td/>
          <td/>
        </tr>
        <tr>
          <td>1_6 </td>
          <td>Jun 01, 2017 </td>
          <td>Supported </td>
          <td>See below </td>
          <td>Yes </td>
          <td>REST and SOAP </td>
        </tr>
        <tr>
          <td>v2 </td>
          <td>Feb 12, 2018 </td>
          <td>Supported </td>
          <td>See below </td>
          <td>Yes </td>
          <td>REST </td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1.3
    
    * Changed fields in CurrentStatus response:
        Added Shipments/ProductOptions
    * Changed fields in CompleteStatus response:  
        Added Shipments/ProductOptions
    
    #### v1.6
    
    * The following fields have been added to the interface:  
        CurrentStatusResponseShipment/DeliveryDate  
        CurrentStatusResponseShipment/Expectation  
        CompleteStatusResponseShipment/DeliveryDate  
        CompleteStatusResponseShipment/Expectation  
    
    #### V2
    
    * A new method has ben added to the interface;  
        /v2/status/{customernumber}/updatedshipments. This method returns the updated statuses for a particular customer number.  
        The following fields have been added to the interface;  
        maxDays  
        language  
    
- name: Error codes
  description: |
    
    <table>
      <tbody>
        <tr>
          <td><strong>Code</strong></td>
          <td><strong>Type</strong></td>
          <td><strong>Description</strong></td>
          <td><strong>Usage</strong></td>
          <td><strong>Occurrence</strong></td>
        </tr>
        <tr>
          <td>1</td>
          <td>Error</td>
          <td>The username/password combination is incorrect.</td>
          <td>Generic</td>
          <td>When username and/or password is incorrect. Make sure password is encrypted via SHA1 algorithm</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Error</td>
          <td>Service is currently disabled</td>
          <td>Generic</td>
          <td>When service is not available</td>
        </tr>
        <tr>
          <td>1000</td>
          <td>Error</td>
          <td>Check CIFException in the detail section</td>
          <td>Generic</td>
          <td>In most cases, one or more mandatory fields have not been filled in the request</td>
        </tr>
        <tr>
          <td>1001</td>
          <td>Error</td>
          <td>CIF Framework Message Interceptor</td>
          <td>Generic</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1002</td>
          <td>Error</td>
          <td>Exception occured, Message: {0}, stacktrace {1}.</td>
          <td>Generic</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Error</td>
          <td>Exception occured connecting to a backend service.</td>
          <td>Generic</td>
          <td>In most cases, the request timed out. Please try again. If problem persists, contact your support contact at PostNL Parcels.</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Error</td>
          <td>Exception occured: {0}</td>
          <td>Generic</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>16</td>
          <td>Error</td>
          <td>{0} not found.</td>
          <td>Generic</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>17</td>
          <td>Error</td>
          <td>Message validation failed due to incorrect message format</td>
          <td>Generic</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Error</td>
          <td>The user is not authorized for the method '{0}'.</td>
          <td>Generic</td>
          <td>When user is not authorized for a specific method</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Error</td>
          <td>Username/password is not specified.</td>
          <td>Generic</td>
          <td>When username or password is missing</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Error</td>
          <td>Required parameter '{0}' is missing.</td>
          <td>Generic</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Error</td>
          <td>Value '{0}' is not in the correct format '{1}'.</td>
          <td>Generic</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Error</td>
          <td>Value '{0}' is not in the correct range '{1} - {2}'.</td>
          <td>Generic</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Error</td>
          <td>Parameter '{0}' may not be null</td>
          <td>Generic</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Error</td>
          <td>Parameter '{0}' must be null.</td>
          <td>Generic</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Error</td>
          <td>Number of requests exceed the maximum of {0} requests/second</td>
          <td>Generic</td>
          <td>When the user made too many requests towards the API within the mentioned period</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Warning</td>
          <td>Warning: De ColloWebservice heeft geen Colli gevonden</td>
          <td>ShippingStatus</td>
          <td>No data is available (yet) for this shipment</td>
        </tr>
        <tr>
          <td>19</td>
          <td>Error</td>
          <td>Unknown or invalid CustomerCode</td>
          <td>ShippingStatus</td>
          <td>When used customer code is unknown or not authorized</td>
        </tr>
        <tr>
          <td>18</td>
          <td>Error</td>
          <td>Incorrect Barcode length: {0} for specified Type, Range and Serie</td>
          <td>Barcode</td>
          <td>When requested format for barcode (type of barcode, length of barcode or used customer code) is incorrect</td>
        </tr>
        <tr>
          <td>21</td>
          <td>Error</td>
          <td>The user is not authorized for this barcode</td>
          <td>Barcode</td>
          <td>When a barcode is requested with a range for which the user does not have authorization</td>
        </tr>
        <tr>
          <td>24</td>
          <td>Error</td>
          <td>The user is not authorized for this operation based on the provided {0}</td>
          <td>Barcode</td>
          <td>When a barcode is requested with a type for which the user does not have authorization</td>
        </tr>
        <tr>
          <td>1010</td>
          <td>Error</td>
          <td>Invalid length for a Base-64 char array.</td>
          <td>Labelling</td>
          <td>The field LabelSignature does not contain a correct Base64 encoded string</td>
        </tr>
        <tr>
          <td>1010</td>
          <td>Error</td>
          <td>The input is not a valid Base-64 string as it contains a non-base 64 character, more than two padding characters, or a non-white space character among the padding characters.</td>
          <td>Labelling</td>
          <td>The field LabelSignature does not contain a correct Base64 encoded string</td>
        </tr>
        <tr>
          <td>1010</td>
          <td>Error</td>
          <td>Parameter not valid</td>
          <td>Labelling</td>
          <td>This usually means that the field LabelSignature does not contain a correct Base64 encoded string, or that the signature is not a correct GIF-image file</td>
        </tr>
        <tr>
          <td>1010</td>
          <td>Error</td>
          <td>Attempted to divide by zero.</td>
          <td>Labelling</td>
          <td>Most likely because parameter Customs.Content.Quantity is zero</td>
        </tr>
        <tr>
          <td>10101</td>
          <td>Error</td>
          <td>Barcode has been used previously</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>10201</td>
          <td>Warning</td>
          <td>Pick up at PostNL location cannot be combined with the Cash on Delivery service</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>10202</td>
          <td>Error</td>
          <td>Cash on Delivery field may not be empty</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>10203</td>
          <td>Error</td>
          <td>Cash on Delivery amount must be greater than 0</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>10204</td>
          <td>Error</td>
          <td>Bank account number required</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>10301</td>
          <td>Error</td>
          <td>Missing parcel barcode</td>
          <td>Confirming/Labelling</td>
          <td>The field Barcode is missing from the request</td>
        </tr>
        <tr>
          <td>10302</td>
          <td>Error</td>
          <td>Barcode length does not comply with 3S format</td>
          <td>Confirming/Labelling</td>
          <td>The barcode should comply with 3S-standards (11-15 characters long)</td>
        </tr>
        <tr>
          <td>10303</td>
          <td>Error</td>
          <td>This is not a 3S barcode</td>
          <td>Confirming/Labelling</td>
          <td>The barcode should comply with 3S-standards (3S - CustomerCode - Serie)</td>
        </tr>
        <tr>
          <td>10401</td>
          <td>Warning</td>
          <td>This is an International Business Reply address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>10402</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>10501</td>
          <td>Warning</td>
          <td>This is a Military Post Office (MPO) address</td>
          <td>Confirming/Labelling</td>
          <td>The receiver address in the request is a military post address</td>
        </tr>
        <tr>
          <td>10502</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>The receiver address in the request is missing</td>
        </tr>
        <tr>
          <td>10601</td>
          <td>Warning</td>
          <td>This is a PO Box address</td>
          <td>Confirming/Labelling</td>
          <td>The receiver address in the request is a po-box</td>
        </tr>
        <tr>
          <td>10602</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>The receiver address is missing</td>
        </tr>
        <tr>
          <td>10701</td>
          <td>Error</td>
          <td>Invalid barcode</td>
          <td>Confirming/Labelling</td>
          <td>The barcode given does not comply with S10-standards (prefix, usually CD followed by eight digits, one checkdigit and a country code)</td>
        </tr>
        <tr>
          <td>10702</td>
          <td>Error</td>
          <td>Missing parcel barcode</td>
          <td>Confirming/Labelling</td>
          <td>The field Barcode is missing from the request</td>
        </tr>
        <tr>
          <td>10801</td>
          <td>Warning</td>
          <td>This is a Wadden island address</td>
          <td>Confirming/Labelling</td>
          <td>The receiver address in the request is a 'Waddeneilanden' address</td>
        </tr>
        <tr>
          <td>10802</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>The receiver address is missing</td>
        </tr>
        <tr>
          <td>10901</td>
          <td>Warning</td>
          <td>This product code cannot be combined with Pick up at PostNL location</td>
          <td>Confirming/Labelling</td>
          <td>The product code given in the request is not a 'PakjeGemak' product code</td>
        </tr>
        <tr>
          <td>10902</td>
          <td>Error</td>
          <td>Unfortunately, Pick up at PostNL location is not available for this country code</td>
          <td>Confirming/Labelling</td>
          <td>The receiver country code given in the request is not allowed in combination with this product</td>
        </tr>
        <tr>
          <td>10903</td>
          <td>Error</td>
          <td>Missing location name for Pick up at PostNL location</td>
          <td>Confirming/Labelling</td>
          <td>The company name of AddressType 09 should be filled in the request</td>
        </tr>
        <tr>
          <td>10904</td>
          <td>Error</td>
          <td>Missing recipient name</td>
          <td>Confirming/Labelling</td>
          <td>The last name of the receiver is missing form the request</td>
        </tr>
        <tr>
          <td>11001</td>
          <td>Warning</td>
          <td>This Notification Service cannot be combined with Pick up at PostNL location</td>
          <td>Confirming/Labelling</td>
          <td>The product code given in the request is not a 'PakjeGemak with notification' product code</td>
        </tr>
        <tr>
          <td>11002</td>
          <td>Error</td>
          <td>You should enter the recipient&rsquo;s email address and/or mobile phone number for Pick up at PostNL location with Notification Service</td>
          <td>Confirming/Labelling</td>
          <td>One of the fields Contact.Email or Contact.SMSNr is required for 'PakjeGemak with notification' products</td>
        </tr>
        <tr>
          <td>11101</td>
          <td>Error</td>
          <td>Invalid details for Premium Pick-up Service</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11102</td>
          <td>Error</td>
          <td>This is not a 2S barcode</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11103</td>
          <td>Error</td>
          <td>This is not a 3S barcode</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11201</td>
          <td>Error</td>
          <td>Missing product code</td>
          <td>Confirming/Labelling</td>
          <td>The product code is missing from the request</td>
        </tr>
        <tr>
          <td>11202</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>The receiver address is missing from the request</td>
        </tr>
        <tr>
          <td>11203</td>
          <td>Error</td>
          <td>Missing weight</td>
          <td>Confirming/Labelling</td>
          <td>The field Dimension.Weight is required in the request</td>
        </tr>
        <tr>
          <td>11301</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11302</td>
          <td>Error</td>
          <td>International Business Reply number is not active</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11303</td>
          <td>Error</td>
          <td>You cannot ship parcels to this International Business Reply number</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11304</td>
          <td>Error</td>
          <td>Your account has been blocked temporarily. Please contact your Administrator or Account Manager for more information</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11401</td>
          <td>Error</td>
          <td>Barcode is not valid for processing</td>
          <td>Confirming/Labelling</td>
          <td>The barcode given does not comply with S10-standards (prefix, usually CD followed by eight digits, one checkdigit and a country code)</td>
        </tr>
        <tr>
          <td>11402</td>
          <td>Error</td>
          <td>Missing parcel barcode</td>
          <td>Confirming/Labelling</td>
          <td>The field Barcode is missing from the request</td>
        </tr>
        <tr>
          <td>11501</td>
          <td>Error</td>
          <td>Request contains no data</td>
          <td>Confirming/Labelling</td>
          <td>The backend service received an internal error, please contact your support contact at PostNL Parcels.</td>
        </tr>
        <tr>
          <td>11502</td>
          <td>Error</td>
          <td>Recipient town/city is required</td>
          <td>Confirming/Labelling</td>
          <td>The field City is required for the receiver address</td>
        </tr>
        <tr>
          <td>11503</td>
          <td>Error</td>
          <td>Recipient street name is required</td>
          <td>Confirming/Labelling</td>
          <td>The field Street is required for the receiver address</td>
        </tr>
        <tr>
          <td>11504</td>
          <td>Error</td>
          <td>Parcel weight is required</td>
          <td>Confirming/Labelling</td>
          <td>The field Dimension.Weight is required in the request</td>
        </tr>
        <tr>
          <td>11601</td>
          <td>Error</td>
          <td>No parcel structure found</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11602</td>
          <td>Error</td>
          <td>Missing message registration time</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11603</td>
          <td>Error</td>
          <td>Missing barcode</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11604</td>
          <td>Error</td>
          <td>Missing recipient address type</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11605</td>
          <td>Error</td>
          <td>Incorrect recipient address type</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11606</td>
          <td>Error</td>
          <td>Missing parcel details</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11607</td>
          <td>Error</td>
          <td>You can not enter multiple parcel details</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11608</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11609</td>
          <td>Error</td>
          <td>Missing measurements</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11610</td>
          <td>Error</td>
          <td>You cannot enter multiple measurements</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11611</td>
          <td>Error</td>
          <td>You cannot enter multiple messages</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11612</td>
          <td>Error</td>
          <td>Missing shipping status information</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11613</td>
          <td>Error</td>
          <td>Missing shipping status information date</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11614</td>
          <td>Error</td>
          <td>Incorrect code shipping status information type</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11615</td>
          <td>Error</td>
          <td>Incorrect code shipping status information type reason</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11616</td>
          <td>Error</td>
          <td>Incorrect code shipping status information source</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11617</td>
          <td>Error</td>
          <td>Missing pre-alert at PostNL</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11618</td>
          <td>Error</td>
          <td>Missing pre-alert ID</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11619</td>
          <td>Error</td>
          <td>Missing creation date in pre-alert</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11620</td>
          <td>Error</td>
          <td>Missing amount type code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11621</td>
          <td>Error</td>
          <td>Unknown amount type code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11622</td>
          <td>Error</td>
          <td>Sum may not contain more than 8 figures including 2 decimals (for example: 123456,78)</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11623</td>
          <td>Error</td>
          <td>Missing currency code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11624</td>
          <td>Error</td>
          <td>Missing weight</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11625</td>
          <td>Error</td>
          <td>Missing registration date</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11626</td>
          <td>Error</td>
          <td>Missing address type</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11627</td>
          <td>Error</td>
          <td>Unknown address type</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11628</td>
          <td>Error</td>
          <td>Missing house number</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11629</td>
          <td>Error</td>
          <td>Unknown address type</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11630</td>
          <td>Error</td>
          <td>Incorrect house number</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11631</td>
          <td>Error</td>
          <td>Incorrect house number extension</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11632</td>
          <td>Error</td>
          <td>Incorrect country code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11633</td>
          <td>Error</td>
          <td>Missing international postcode</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11634</td>
          <td>Error</td>
          <td>Missing location type code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11635</td>
          <td>Error</td>
          <td>Missing processing code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11636</td>
          <td>Error</td>
          <td>Incorrect surname</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11637</td>
          <td>Error</td>
          <td>Incorrect first name</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11638</td>
          <td>Error</td>
          <td>Incorrect country code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11639</td>
          <td>Error</td>
          <td>Incorrect house number</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11640</td>
          <td>Error</td>
          <td>Incorrect house number extension</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11641</td>
          <td>Error</td>
          <td>Missing international postcode</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11642</td>
          <td>Error</td>
          <td>Missing contact type code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11643</td>
          <td>Error</td>
          <td>Incorrect phone number</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11644</td>
          <td>Error</td>
          <td>Incorrect mobile phone number for SMS notifications</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11645</td>
          <td>Error</td>
          <td>Incorrect email address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11646</td>
          <td>Error</td>
          <td>Missing customer</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11647</td>
          <td>Error</td>
          <td>Missing customer UPN</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11648</td>
          <td>Error</td>
          <td>Missing customer number</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11649</td>
          <td>Error</td>
          <td>Missing party code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11650</td>
          <td>Error</td>
          <td>Missing product code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11651</td>
          <td>Error</td>
          <td>You must enter the product code for pick-up orders</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11652</td>
          <td>Error</td>
          <td>Incorrect reference</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11653</td>
          <td>Error</td>
          <td>Code may only consist of numbers (maximum 6)</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11654</td>
          <td>Error</td>
          <td>Code may only consist of numbers (maximum 6)</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11655</td>
          <td>Error</td>
          <td>Missing start date for pick-up</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11656</td>
          <td>Error</td>
          <td>Missing end date for pick-up</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11701</td>
          <td>Error</td>
          <td>Request contains no data</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11702</td>
          <td>Warning</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11703</td>
          <td>Warning</td>
          <td>Recipient's address is unknown. Please verify if the address details are correct before proceeding.</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11801</td>
          <td>Error</td>
          <td>Request contains no data</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11802</td>
          <td>Warning</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11803</td>
          <td>Warning</td>
          <td>Pick-up address is unknown. Please verify if the address details are correct before proceeding.</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11901</td>
          <td>Error</td>
          <td>Invalid product code and country combination for sender/recipient address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>11902</td>
          <td>Error</td>
          <td>Invalid combination of product code and country pick-up address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12001</td>
          <td>Error</td>
          <td>Missing product code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12002</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12003</td>
          <td>Error</td>
          <td>Missing weight</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12101</td>
          <td>Warning</td>
          <td>No validation performed</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12201</td>
          <td>Error</td>
          <td>The postcode of the recipient's address is missing</td>
          <td>Confirming/Labelling</td>
          <td>The zipcode of the receiver address is missing; unable to determine whether evening delivery is allowed</td>
        </tr>
        <tr>
          <td>12202</td>
          <td>Error</td>
          <td>The postcode of the recipient's address is incorrect</td>
          <td>Confirming/Labelling</td>
          <td>The zipcode of the receiver address is incorrect; unable to determine whether evening delivery is allowed</td>
        </tr>
        <tr>
          <td>12203</td>
          <td>Error</td>
          <td>The postcode of the recipient's address is unknown</td>
          <td>Confirming/Labelling</td>
          <td>The zipcode of the receiver address is unknown; unable to determine whether evening delivery is allowed</td>
        </tr>
        <tr>
          <td>12204</td>
          <td>Error</td>
          <td>Delivery date is missing</td>
          <td>Confirming/Labelling</td>
          <td>The field DeliveryDate is required for evening delivery products</td>
        </tr>
        <tr>
          <td>12205</td>
          <td>Error</td>
          <td>Delivery date falls on public holiday</td>
          <td>Confirming/Labelling</td>
          <td>The date entered in DeliveryDate is an exception date; evening delivery is not allowed on this date</td>
        </tr>
        <tr>
          <td>12206</td>
          <td>Error</td>
          <td>Source code of the basic application is not permitted</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12207</td>
          <td>Error</td>
          <td>Due to a technical problem validation for Evening Delivery is currently not possible</td>
          <td>Confirming/Labelling</td>
          <td>In most cases, the request timed out. Please try again. If problem persists, contact your support contact at PostNL Parcels.</td>
        </tr>
        <tr>
          <td>12208</td>
          <td>Error</td>
          <td>Evening Delivery is not available for the entered delivery date</td>
          <td>Confirming/Labelling</td>
          <td>Evening delivery is not allowed based on the provided DeliveryDate and receiver address</td>
        </tr>
        <tr>
          <td>12209</td>
          <td>Error</td>
          <td>Delivery date is missing</td>
          <td>Confirming/Labelling</td>
          <td>The field DeliveryDate is required for evening delivery products</td>
        </tr>
        <tr>
          <td>12210</td>
          <td>Error</td>
          <td>Delivery date is not entered in the correct date format</td>
          <td>Confirming/Labelling</td>
          <td>The field DeliveryDate is not in the correct format [dd-mm-yyyy hh:mm:ss]</td>
        </tr>
        <tr>
          <td>12211</td>
          <td>Error</td>
          <td>Surname or company name of recipient is required</td>
          <td>Confirming/Labelling</td>
          <td>One of the fields Name or CompanyName is required for this product</td>
        </tr>
        <tr>
          <td>12212</td>
          <td>Error</td>
          <td>Street name of recipient is required</td>
          <td>Confirming/Labelling</td>
          <td>The streetname of the receiver address is required for this product</td>
        </tr>
        <tr>
          <td>12213</td>
          <td>Error</td>
          <td>House number of recipient is required</td>
          <td>Confirming/Labelling</td>
          <td>The home number of the receiver address is required for this product</td>
        </tr>
        <tr>
          <td>12214</td>
          <td>Error</td>
          <td>Postcode of recipient is required</td>
          <td>Confirming/Labelling</td>
          <td>The zipcode of the receiver address is required for this product</td>
        </tr>
        <tr>
          <td>12215</td>
          <td>Error</td>
          <td>Missing email address or mobile telephone number for recipient's contact person</td>
          <td>Confirming/Labelling</td>
          <td>One of the fields Contact.Email or Contact.SMSNr is required for this product</td>
        </tr>
        <tr>
          <td>12216</td>
          <td>Error</td>
          <td>No connection can be made with the Location Service</td>
          <td>Confirming/Labelling</td>
          <td>In most cases, the request timed out. Please try again. If problem persists, contact your support contact at PostNL Parcels.</td>
        </tr>
        <tr>
          <td>12217</td>
          <td>Error</td>
          <td>Missing service code</td>
          <td>Confirming/Labelling</td>
          <td>The fields in the segment ProductOption are required for this product</td>
        </tr>
        <tr>
          <td>12301</td>
          <td>Error</td>
          <td>Missing delivery date</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12302</td>
          <td>Error</td>
          <td>Delivery date is not entered in the correct date format</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12303</td>
          <td>Error</td>
          <td>Delivery on Saturdays or Sundays is not possible</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12304</td>
          <td>Error</td>
          <td>Missing recipient (company) name</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12305</td>
          <td>Error</td>
          <td>Missing recipient street name</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12306</td>
          <td>Error</td>
          <td>Missing recipient house number</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12307</td>
          <td>Error</td>
          <td>Missing recipient postcode</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12308</td>
          <td>Error</td>
          <td>Missing company name in delivery address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12309</td>
          <td>Error</td>
          <td>Missing street name in delivery address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12310</td>
          <td>Error</td>
          <td>Missing house number in delivery address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12311</td>
          <td>Error</td>
          <td>Missing postcode in delivery address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12312</td>
          <td>Error</td>
          <td>Missing email address or mobile telephone number for recipient's contact person</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12313</td>
          <td>Error</td>
          <td>Missing service code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12401</td>
          <td>Error</td>
          <td>Missing company name in delivery address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12402</td>
          <td>Error</td>
          <td>Missing street name in delivery address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12403</td>
          <td>Error</td>
          <td>Missing house number in delivery address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12404</td>
          <td>Error</td>
          <td>Missing postcode in delivery address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12405</td>
          <td>Error</td>
          <td>Missing mobile telephone number for recipient address contact</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12406</td>
          <td>Error</td>
          <td>Recipient's email address is required for parcel locker shipments</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12501</td>
          <td>Error</td>
          <td>Missing IBAN in sender details (for Cash on Delivery payments). Please contact your Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12502</td>
          <td>Error</td>
          <td>Incorrect IBAN in sender details (for Cash on Delivery payments). Please contact your Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12503</td>
          <td>Warning</td>
          <td>Validation was not executed, it applies only to single or first Collo</td>
          <td>Confirming/Labelling</td>
          <td>IBAN not validated, because this is not the main Collo (only applies to Multicollo shipments)</td>
        </tr>
        <tr>
          <td>12601</td>
          <td>Error</td>
          <td>Missing contact type code. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>Value of the field ContactType is incorrect</td>
        </tr>
        <tr>
          <td>1260102</td>
          <td>Error</td>
          <td>No contact details found for recipient's address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1260103</td>
          <td>Error</td>
          <td>Missing recipient email address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1260104</td>
          <td>Error</td>
          <td>Invalid recipient email address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1260202</td>
          <td>Error</td>
          <td>No contact details found for sender address. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1260203</td>
          <td>Error</td>
          <td>Missing sender email address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1260204</td>
          <td>Error</td>
          <td>Invalid sender email address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1260302</td>
          <td>Error</td>
          <td>No contact details found for return address. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1260303</td>
          <td>Error</td>
          <td>Missing return address email address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1260304</td>
          <td>Error</td>
          <td>Invalid return address email address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12701</td>
          <td>Error</td>
          <td>Missing address type code. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>Value of the field AddressType is incorrect</td>
        </tr>
        <tr>
          <td>1270102</td>
          <td>Error</td>
          <td>No address details found for recipient</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270103</td>
          <td>Error</td>
          <td>Missing recipient country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270104</td>
          <td>Error</td>
          <td>Country or group of countries is required</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270105</td>
          <td>Error</td>
          <td>Not available for recipients in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270106</td>
          <td>Error</td>
          <td>Not available for recipients in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270107</td>
          <td>Error</td>
          <td>Not available for recipients in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270108</td>
          <td>Error</td>
          <td>Not available for recipients in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270202</td>
          <td>Error</td>
          <td>No address details found for sender. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270203</td>
          <td>Error</td>
          <td>Missing sender country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270204</td>
          <td>Error</td>
          <td>Country or country group is required. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270205</td>
          <td>Error</td>
          <td>Not available for senders in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270206</td>
          <td>Error</td>
          <td>Not available for senders in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270207</td>
          <td>Error</td>
          <td>Not available for senders in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270208</td>
          <td>Error</td>
          <td>Not available for senders in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270302</td>
          <td>Error</td>
          <td>No details found for return address. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270303</td>
          <td>Error</td>
          <td>Missing return address country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270304</td>
          <td>Error</td>
          <td>Country or country group is required. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270305</td>
          <td>Error</td>
          <td>Not available for return addresses in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270306</td>
          <td>Error</td>
          <td>Not available for return addresses in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270307</td>
          <td>Error</td>
          <td>Not available for return addresses in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270308</td>
          <td>Error</td>
          <td>Not available for return addresses in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270402</td>
          <td>Error</td>
          <td>No details found for pick-up address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270403</td>
          <td>Error</td>
          <td>Missing country in pick-up address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270404</td>
          <td>Error</td>
          <td>Country or country group is required</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270405</td>
          <td>Error</td>
          <td>Pick-up is not possible in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270406</td>
          <td>Error</td>
          <td>Pick-up is not possible in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270407</td>
          <td>Error</td>
          <td>Pick-up is not possible in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270408</td>
          <td>Error</td>
          <td>Pick-up is not possible in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270702</td>
          <td>Error</td>
          <td>No details found for re-routing address. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270703</td>
          <td>Error</td>
          <td>Missing country in re-routing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270704</td>
          <td>Error</td>
          <td>Country or country group is required. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270705</td>
          <td>Error</td>
          <td>Not available for re-routing addresses in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270706</td>
          <td>Error</td>
          <td>Not available for re-routing addresses in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270707</td>
          <td>Error</td>
          <td>Not available for re-routing addresses in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270708</td>
          <td>Error</td>
          <td>Not available for re-routing addresses in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270802</td>
          <td>Error</td>
          <td>No details found for alternative sender address. Please contact your Mijn PostNL administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270803</td>
          <td>Error</td>
          <td>Missing country in alternative sender address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270804</td>
          <td>Error</td>
          <td>Country or country group is required. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270805</td>
          <td>Error</td>
          <td>Not available for alternative sender addresses in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270806</td>
          <td>Error</td>
          <td>Not available for alternative sender addresses in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270807</td>
          <td>Error</td>
          <td>Not available for alternative sender addresses in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270808</td>
          <td>Error</td>
          <td>Not available for alternative sender addresses in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270902</td>
          <td>Error</td>
          <td>No address details found for Pick up at PostNL location</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270903</td>
          <td>Error</td>
          <td>Missing country in address for Pick up at PostNL location</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270904</td>
          <td>Error</td>
          <td>Country or country group is required. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270905</td>
          <td>Error</td>
          <td>Pick up at PostNL location is not available for this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270906</td>
          <td>Error</td>
          <td>Pick up at PostNL location is not available for this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270907</td>
          <td>Error</td>
          <td>Pick up at PostNL location is not available for this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1270908</td>
          <td>Error</td>
          <td>Pick up at PostNL location is not available for this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1271002</td>
          <td>Error</td>
          <td>No address details found for Early Pick-up</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1271003</td>
          <td>Error</td>
          <td>Missing country in address for Early Pick-up</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1271004</td>
          <td>Error</td>
          <td>Country or country group is required</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1271005</td>
          <td>Error</td>
          <td>Early Pick-up is not possible in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1271006</td>
          <td>Error</td>
          <td>Early Pick-up is not possible in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1271007</td>
          <td>Error</td>
          <td>Early Pick-up is not possible in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1271008</td>
          <td>Error</td>
          <td>Early Pick-up is not possible in this country</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280101</td>
          <td>Error</td>
          <td>Request contains no data</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280102</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280103</td>
          <td>Error</td>
          <td>Recipient's address is unknown. Please verify if the address details are correct before proceeding.</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280105</td>
          <td>Error</td>
          <td>No address details found for recipient</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280201</td>
          <td>Error</td>
          <td>Request contains no data</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280202</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280203</td>
          <td>Error</td>
          <td>Sender address is unknown. Please verify if the address details are correct before proceeding.</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280205</td>
          <td>Error</td>
          <td>No address details found for sender. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280301</td>
          <td>Error</td>
          <td>Request contains no data</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280302</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280303</td>
          <td>Error</td>
          <td>Return address is unknown. Please verify if the address details are correct before proceeding.</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280305</td>
          <td>Error</td>
          <td>No details found for return address. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12804</td>
          <td>Error</td>
          <td>Missing address type code. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>Field 'AdressType' is missing from the request</td>
        </tr>
        <tr>
          <td>1280401</td>
          <td>Error</td>
          <td>Request contains no data</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280402</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280403</td>
          <td>Error</td>
          <td>Pick-up address is unknown. Please verify if the address details are correct before proceeding.</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280405</td>
          <td>Error</td>
          <td>No details found for pick-up address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280701</td>
          <td>Error</td>
          <td>Request contains no data</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280702</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280703</td>
          <td>Error</td>
          <td>Rerouting address is unknown. Please verify if the address details are correct before proceeding.</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280705</td>
          <td>Error</td>
          <td>No details found for re-routing address. Please contact your Mijn PostNL Administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280801</td>
          <td>Error</td>
          <td>Request contains no data</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280802</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280803</td>
          <td>Error</td>
          <td>Alternative sender address is unknown. Please verify if the address details are correct before proceeding.</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280805</td>
          <td>Error</td>
          <td>No details found for alternative sender address. Please contact your Mijn PostNL administrator</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280901</td>
          <td>Error</td>
          <td>Request contains no data</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280902</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280903</td>
          <td>Error</td>
          <td>Post office address is unknown. Please verify if the address details are correct before proceeding.</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1280905</td>
          <td>Error</td>
          <td>No address details found for Pick up at PostNL location</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1281001</td>
          <td>Error</td>
          <td>Request contains no data</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1281002</td>
          <td>Error</td>
          <td>Missing address</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1281003</td>
          <td>Error</td>
          <td>Collection address is unknown. Please verify if the address details are correct before proceeding.</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1281005</td>
          <td>Error</td>
          <td>No address details found for Early Pick-up</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>13001</td>
          <td>Error</td>
          <td>Sender country code must be from a country other than the Netherlands for ERS shipments</td>
          <td>Confirming/Labelling</td>
          <td>AddressType 02 country is not an ERS country outside of NL</td>
        </tr>
        <tr>
          <td>13101</td>
          <td>Warning</td>
          <td>Please enter the email address and/or full name of the recipient. This enables easy tracking and delivery of the shipment.</td>
          <td>Confirming/Labelling</td>
          <td>To improve our tracking &amp; tracing possibilities it would help if you provide the fields Contact.Email and Contact.SMSNr of AddressType 01</td>
        </tr>
        <tr>
          <td>13201</td>
          <td>Error</td>
          <td>You cannot send ERS shipments to an International Business Reply number</td>
          <td>Confirming/Labelling</td>
          <td>The receiver address is a 'reply number'. This is not allowed for this product code</td>
        </tr>
        <tr>
          <td>13301</td>
          <td>Error</td>
          <td>Evening Delivery not possible for this product code</td>
          <td>Confirming/Labelling</td>
          <td>Please refer to the list of available product codes in combination with evening delivery</td>
        </tr>
        <tr>
          <td>13303</td>
          <td>Error</td>
          <td>The product code for Check at the door is incorrect</td>
          <td>Confirming/Labelling</td>
          <td>Please refer to the list of available product codes in combination with age/id validation products</td>
        </tr>
        <tr>
          <td>13304</td>
          <td>Error</td>
          <td>Sunday Delivery is not available for this product code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>13601</td>
          <td>Error</td>
          <td>Customer number must be 44445557</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>13701</td>
          <td>Error</td>
          <td>Cash on Delivery is not available for this product code</td>
          <td>Confirming/Labelling</td>
          <td>An amount with AmountType 01 is not allowed for this product</td>
        </tr>
        <tr>
          <td>13702</td>
          <td>Error</td>
          <td>Missing Cash on Delivery amount for parcel with main parcel barcode</td>
          <td>Confirming/Labelling</td>
          <td>An amount with AmountType 01 is required for the main collo</td>
        </tr>
        <tr>
          <td>13703</td>
          <td>Error</td>
          <td>IBAN missing in sender details for parcel with main parcel barcode. Please contact your Administrator</td>
          <td>Confirming/Labelling</td>
          <td>An IBAN number (Amount.IBAN) is required for the main collo</td>
        </tr>
        <tr>
          <td>13704</td>
          <td>Error</td>
          <td>Missing Cash on Delivery amount for one parcel from multi-parcel shipment</td>
          <td>Confirming/Labelling</td>
          <td>The child shipment cannot contain an amount with AmountType 01 (this amount is only allowed for the main barcode)</td>
        </tr>
        <tr>
          <td>13705</td>
          <td>Error</td>
          <td>IBAN missing in sender details for one parcel from multi-parcel shipment. Please contact your Administrator</td>
          <td>Confirming/Labelling</td>
          <td>The child shipment cannot contain an IBAN number (this field is only allowed for the main barcode)</td>
        </tr>
        <tr>
          <td>13706</td>
          <td>Error</td>
          <td>Invalid Cash on Delivery amount</td>
          <td>Confirming/Labelling</td>
          <td>The field Amount.Value is incorrect (format (N6.2): #####0.00)</td>
        </tr>
        <tr>
          <td>13707</td>
          <td>Error</td>
          <td>Cash on Delivery amount is too high for this product code.</td>
          <td>Confirming/Labelling</td>
          <td>The amount filled in Amount.Value exceeds the maximum allowed value for the requested product</td>
        </tr>
        <tr>
          <td>13801</td>
          <td>Error</td>
          <td>Extra Coverage is not available for this product code</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>13802</td>
          <td>Error</td>
          <td>Missing insured amount for parcel with main parcel barcode</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>13803</td>
          <td>Error</td>
          <td>Missing insured amount for one parcel from multi-parcel shipment</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>13804</td>
          <td>Error</td>
          <td>Invalid insured amount</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>13805</td>
          <td>Error</td>
          <td>Insured amount is too high for this product code.</td>
          <td>Confirming/Labelling</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>13901</td>
          <td>Error</td>
          <td>Incorrect value entered for additional service Extra@Home</td>
          <td>Confirming/Labelling</td>
          <td>The Shipment.Content value is wrong</td>
        </tr>
        <tr>
          <td>13902</td>
          <td>Error</td>
          <td>Exceeded maximum number of characters for additional service Extra@Home</td>
          <td>Confirming/Labelling</td>
          <td>The Shipment.Content value is too long</td>
        </tr>
        <tr>
          <td>13903</td>
          <td>Error</td>
          <td>Missing customer number</td>
          <td>Confirming/Labelling</td>
          <td>Customer.CustomerCode is missing</td>
        </tr>
        <tr>
          <td>13904</td>
          <td>Error</td>
          <td>Customer number may only contain numbers</td>
          <td>Confirming/Labelling</td>
          <td>Customer.CustomerCode contains non-numeric characters</td>
        </tr>
        <tr>
          <td>13905</td>
          <td>Error</td>
          <td>Item description is required</td>
          <td>Confirming/Labelling</td>
          <td>The Shipment.Content is missing</td>
        </tr>
        <tr>
          <td>13906</td>
          <td>Error</td>
[...]
