openapi: 3.0.1
info:
  title: PostNL Ecommerce APIs
  version: ""
  description: |
    Collection of PostNL API's for ecommerce processes
  x-logo:
    url: https://github.com/bbierbooms/oas/blob/master/logo.png?raw=true
servers:
  - url: 'https://api-sandbox.postnl.nl'
  - url: 'https://api.postnl.nl'
x-tagGroups:
  - name: 'Send & Track'
    tags:
    - Shipment
    - Track & Trace
    - Barcode
    - Labelling
    - Confirming
  - name: 'Checkout & Delivery Options'
    tags:
    - Checkout
    - Postalcode check
    - Deliverydate
    - Timeframes
    - Locations
  - name: 'Reference data'
    tags:
    - Error codes
    - Product codes
    - T&T status codes
    - Reference codes  
  - name: 'Support'
    tags:
    - FAQ
tags:
- name: Postalcode check
  description: | 
    ### Summary
    
    * Reason to Call: Check Dutch address data that is entered in your webshop checkout.
    * Input: Postalcode + housenumber (+ housenumberaddition)
    * Output: Address
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/checkout/postcodecheck/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1</td>
          <td>July 05, 2019</td>
          <td>Current version</td>
          <td>First version</td>
          <td>-</td>
          <td>REST</td>
        </tr>
      </tbody>
    </table>                          
- name: Checkout
  description: |
    ### Summary
    
    * Reason to Call: Receive information regarding delivery options.
    * Input: Details of dates, address of the customer, order date and delivery options.
    * Output: Timeframes and pickup locations.
    
    Combines the functionality of the DeliveryDate, Timeframe and Location API.
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/checkout/checkout-api/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1</td>
          <td>July 05, 2019</td>
          <td>Current version</td>
          <td>First version</td>
          <td>-</td>
          <td>REST</td>
        </tr>
      </tbody>
    </table>
- name: Deliverydate
  description: |
    ### Summary
    
    * Calculate expected delivery date based on shipping date or required shipping date based on requested delivery date.
    * Input: Address, postalcode, shipping- or delivery date and delivery options.
    * Output: Delivery date and Sent date.
    
    Please note that you can use the all-in-one [Checkout API](#tag/Checkout) as well. This API combines he the functionality of the DeliveryDate, Location and Timeframe webservices. So it will be easier to implement the PostNL delivery options and there is less overhead in requesting the PostNL services by using this 3-in-1 API.
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/delivery-options/deliverydate-webservice/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1_0</td>
          <td>Oct 07, 2013</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_1</td>
          <td>Jan 24, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_2</td>
          <td>Aug 14, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v2_0</td>
          <td>Aug 14, 2015</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_1</td>
          <td>Nov 03, 2015</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_2</td>
          <td>Aug 24, 2017</td>
          <td>Current version</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v2.0
    
    *   CutOffTime and CutOffTimeForSundaySorting replaced by CutOffTimes list. In the previous version of the GetDeliveryDate method, cut off times were specified for weekdays and Sunday in two fields. It is now possible to specify cut off times for every day of the week in the new CutOffTimes field.*   Options field added. It is now possible to specify which delivery options should be considered when returning a delivery or sent date using the new Options field.*   New and updated address fields. Several address fields have been added to the GetDeliveryDate and GetSendDate elements to specify the delivery address more precisely. These fields are: Street, HouseNrExt, City and CountryCode.  
        Furthermore, the HouseNumber field has been renamed to HouseNr.
    
    #### v2.1
    
    *   GetDeliveryDateResponse.Option is removed from the interface. The GetDeliveryDateResponse.Options is added to the interface.
    
    #### v2.2
    
    *   Thee following fields have been added to the interface:  
        OriginCountryCode  
        CutoffTime.Available  
        New delivery option: MyTime (Delivery on demand)
        
        __NOTE: THIS PRODUCT NO LONGER EXIST__
    
    * If applicable, sustainability scores are now returned for each option
- name: Locations
  description: |
    ### Summary
    
    * Reason to Call: Retrieve a list of pick up points that support the option for direct delivery to a standard pick up point.
    * Input: Address, city and country code of the preferred location Or longitude and latitude.
    * Output: Locations nearest to the supplied address, location within the supplied area or location information of the location code.
    
    Please note that you can use the all-in-one [Checkout API](#tag/Checkout) as well. This API combines he the functionality of the DeliveryDate, Location and Timeframe webservices. So it will be easier to implement the PostNL delivery options and there is less overhead in requesting the PostNL services by using this 3-in-1 API.
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/delivery-options/location-webservice/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1_0</td>
          <td>Jul 22, 2013</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_1</td>
          <td>Aug 21, 2014</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_0</td>
          <td>Aug 14, 2015</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v2_1</td>
          <td>May 10, 2016</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1.1
    
    * The operation GetNearestLocations has been updated with new request properties:  
      * Countrycode [M] has been added for international locations  
      * Location.City [O] has been added for better international matching  
      * Location.HouseNr [O] has been added for better international matching  
      * Location.HouseNrExt [O] has been added for better international matching  
      * Location.Street [O] has been added for better international matching
    * The operation GetLocationsInArea has been updated with new request properties:  
      * Countrycode [M] has been added for international locations
      * The operation GetBLSLocation has been removed
      * The operation GetLocation has been added
      * The Location Type has been extended with international address properties.
        
    #### v2.1
    
    * The Location Type has been extended with PartnerLocationCodes (ResponseLocationCode).
    * If applicable, sustainability scores are now returned for each option
- name: Timeframes
  description: |
    ### Summary
    
    * Reason to Call: To get a timeframe in which a parcel is estimated to be delivered.
    * Input: Details of dates, delivery options and the address of the recipient.
    * Output: Expected delivery timeframes and the possible reason no timeframe could be given.
    
    Please note that you can use the all-in-one [Checkout API](#tag/Checkout) as well. This API combines he the functionality of the DeliveryDate, Location and Timeframe webservices. So it will be easier to implement the PostNL delivery options and there is less overhead in requesting the PostNL services by using this 3-in-1 API.
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/delivery-options/timeframe-webservice/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
     <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1_0</td>
          <td>Oct 07, 2013</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_1</td>
          <td>Aug 14, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_2</td>
          <td>Oct 08, 2014</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_0</td>
          <td>Aug 14, 2015</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_1</td>
          <td>Jun 01, 2017</td>
          <td>Current version</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1.2
    
    *   The following field has been added to the interface: Timeframe.SundaySorting*   Methods and TijdvakType replaced by options. The methods GetDeliveryTimeframes, GetDaytimeTimeframes, GetEveningTimeframes and GetMorningTimeframes have been replaced by a single GetTimeframes method. To specify the delivery option(s) for which timeframes should be returned, the field Options has been added to the Timeframe element.
    
    #### v2.0
    
    *   The new options Sunday and Sameday are also available in the new GetTimeframes method. The field TijdvakType which indicated which delivery option was applicable to the returned Timeframe and ReasonNoTimeframe elements has been replaced by an Options field. This field uses the same values as the new Options field in the request.*   New and updated address fields. Several address fields have been added to the Timeframe element to specify the delivery address more precisely. These fields are: Street, HouseNrExt, City and CountryCode. CountryCode is a mandatory field. For an address in the Netherlands, specify NL for this field. Furthermore, the HouseNumber field has been renamed to HouseNr.
    
    #### v2.1
    
    *   Added Option value ‘MyTime’ for delivery on demand.*   The following optional fields have been added to the interface (for the delivery on demand product):  
        Timeframe.Interval (used to filter certain timeframes which can be returned for delivery on demand)  
        Timeframe.TimeframeRange.Start (used to specify a specific range of timeframes to be returned for delivery on demand)  
        Timeframe.TimeframeRange.End
                
        __NOTE: THIS PRODUCT NO LONGER EXIST__
        
    #### v2.2
    
    * The following fields have been added to the interface:  
      * OriginCountryCode  
      * CutoffTime.Available
    * If applicable, sustainability scores are now returned for each option
- name: Shipment
  description: |
    ### Summary
    
    * Reason to Call: Create a barcode, shipment and send a confirmation to PostNL
    * Input: All information about the shipment
    * Output: One or more shipping labels
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/send-and-track/shipping-webservice/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1</td>
          <td>April 28, 2020</td>
          <td>Current version</td>
          <td>See below</td>
          <td>-</td>
          <td>REST</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1
    
    In comparison to the Labelling API 2.2:
    
    * If no barcode is included in the request, a unique barcode will be generated.
    * Productcode 4910 (Easy Return Service) can be used in the ProductCodeDelivery attribute. So a cross-border return shipment can be made.
- name: Labelling
  description: |
    ### Summary
    
    * Reason to Call: Create a label and send a confirmation to PostNL (optional).
    * Input: Information about the shipment.
    * Output: One or more shipping labels.
    
    Please note that you can use the all-in-one [Shipping API](#tag/Shipping) as well. This API combines the functionality of the Barcode, Labelling, Confirmation and Easy Return API. With this API you generate unique barcodes at the same time you create a label and so cutting down the number of API requests.
    
    When using the [Shipping](#tag/Shipment) or Labelling API (With the Confirm boolean true in the request) the Confirming service does no longer need to be integrated in your system.
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/send-and-track/labelling-webservice/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    #### REST:
    
    <table>
      <tbody>
        <tr>
          <td>
            <strong>Version</strong>
          </td>
          <td>
            <strong>Release Date</strong>
          </td>
          <td>
            <strong>Status</strong>
          </td>
          <td>
            <strong>Release Notes</strong>
          </td>
          <td>
            <strong>Schema Changes</strong>
          </td>
        </tr>
        <tr>
          <td>2_1</td>
          <td>Jun 01, 2017</td>
          <td>Supported</td>
          <td>See below</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>2_2</td>
          <td>Jan 25, 2019</td>
          <td>Current version</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
    
    #### v2.2
    
    **IN COMPARISON TO THE 2_0 SOAP VERSION**<br>
    the following fields have been added to the interface, in order to implement a commercial route to China:<br>
    * Shipment.Customs.Content.Content.EAN
    * Shipment Customs.Content.Content.ProductURL
    
    The following fields have been added to the interface for Delivery on Demand (Mytime):<br>
    * DeliveryTimestampStart
    * DeliveryTimestampEnd<br>
    __NOTE: THIS PRODUCT NO LONGER EXIST__
    
    #### v2.1
    
    The following fields have been added to the interface for shipments to the USA:<br>    
    * Shipment.Customs.TrustedShipperID
    * Shipment.Customs.ImporterReferenceCode
    * Shipment.Customs.TransactionCode
    * Shipment.Customs.TransactionDescription
    <br><br>
    * Shipment.CodingText (response)<br>
    A Codingtext have been added to the labels for mailbox parcels (brievenbuspakjes).
    
    #### SOAP:
    
    <table>
      <tbody>
        <tr>
          <td>
            <strong>Version</strong>
          </td>
          <td>
            <strong>Release Date</strong>
          </td>
          <td>
            <strong>Status</strong>
          </td>
          <td>
            <strong>Release Notes</strong>
          </td>
          <td>
            <strong>Schema Changes</strong>
          </td>
        </tr>
        <tr>
          <td>1_3</td>
          <td>Dec 27, 2012</td>
          <td>Not supported</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1_4</td>
          <td>Nov 8, 2013</td>
          <td>Not supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>1_5</td>
          <td>Feb 27, 2014</td>
          <td>Not supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>1_6</td>
          <td>Aug 14, 2014</td>
          <td>Supported</td>
          <td>Different namespace</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>1_7</td>
          <td>Nov 14, 2014</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>1_8</td>
          <td>Jan 12, 2015</td>
          <td>Not supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>1_9</td>
          <td>Apr 24, 2015</td>
          <td>Not supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>2_0</td>
          <td>Aug 14, 2015</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>2_1</td>
          <td>July 15, 2017</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>2_2</td>
          <td>Jan 25, 2019</td>
          <td>Current version</td>
          <td>See below</td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
    
    #### v1.4
    
    The following fields have been added to the interface:
    * Shipment/Content
    * Shipment/CostCenter
    * Shipment/CustomerOrderNumber
    * Shipment/Remark
    * Shipment/ReturnReference
    * Shipment/ReturnBarcode
    * Amount/BIC
    * Amount/IBAN
    
    The following fields have been removed from the interface:
    * Amount/AccountNr
    
    To comply with SEPA regulation, the bank account details must be entered in IBAN format. The COD card has been changed to print the IBAN bank account number.
    
    #### v1.5
    
    Different namespace
    
    Note: due to changes in the backend the Label in the box (return label) functionality is only available from version 1_6 or later.
    
    The following fields have been added to the interface:
    * Shipment\ProductOption\Option
    * Shipment\ProductOption\Characteristic
    * Shipment\DeliveryDate
    * Shipment\DeliveryAddress
    
    #### v1.6
    
    Different namespace
    
    #### v1.7
    
    The following field has been added to the interface:
    * Shipment.DownPartnerLocation
    
    #### v1.8
    
    The following fields have been added to the interface:
    * Shipment.IDNumber
    * Shipment.IDType
    * Shipment.IDExpiration
    * Shipment.ReceiverDateOfBirth
    
    The field StreetHouseNrExt is now usable for locations in NL, BE and DE.
    
    #### v1.9
    
    The request now includes a field for adding a signature to the labels generated by the service. This field is optional, so no change is required to use the new version of the service.
    
    Shipment validation errors now include an error code in addition to the error message.
    
    #### v2.0
    
    Multiple shipments can now be sent in one request to the labelling service. To this end the Shipment field has been replaced by a Shipments field, which contains a list of Shipment elements. The response has also been modified. Instead of a ResponseShipment element, the response now consists of a GenerateLabelResponse element, which has a ResponseShipments field containing multiple ResponseShipment elements.
    
    You can use this functionality with the GraphicFile|PDF|Merge printer types to generate one label document containing multiple labels. These “merged label” documents can be found in the new MergedLabels response field.
    
    If you want to send only one shipment, you have to specify the Shipments element containing one Shipment.
    
    #### v2.1
    
    PostNL has implemented a commercial route to China. In order to do this, the following fields have been added to the interface:
    * Shipment.Customs.Content.Content.EAN
    * Shipment Customs.Content.Content.ProductURL
    
    The Shipment.Customs.Content element can occur up to 10 times instead of 5.
    * DeliveryTimestampStart (Delivery on Demand label)
    * DeliveryTimestampEnd (Delivery on Demand label)
    
    #### v2.2
    
    The following fields have been added to the interface for shipments to the USA:
    * Shipment.Customs.TrustedShipperID
    * Shipment.Customs.ImporterReferenceCode
    * Shipment.Customs.TransactionCode
    * Shipment.Customs.TransactionDescription
    
    A Codingtext have been added to the labels for mailbox parcels (brievenbuspakje)
    * Shipment.CodingText (response)
- name: Barcode
  description: |
    ### Summary
    
    * Reason to Call: Generate a barcode for your parcels.
    * Input: Customer code and customer number and some specifications of the required barcode.
    * Output: An unique identifier to use for creating shipments and to track and trace the status of the parcels.
    
    Please note that you can use the all-in-one [Shipping API](#tag/Shipment) as well. This API combines the functionality of the Barcode, Labelling, Confirmation and Easy Return API. With this API you generate unique barcodes at the same time you create a label and so cutting down the number of API requests.
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/send-and-track/barcode-webservice/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>1_0</td>
          <td>Oct 01, 2012</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_1</td>
          <td>Oct 28, 2014</td>
          <td>Current version</td>
          <td>Different namespaces</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
      </tbody>
    </table>
- name: Confirming
  description: |
    ### Summary
    
    * Reason to Call: Create and send a confirmation of the parcels to the PostNL system.
    * Input: Information about the shipment.
    * Output: Confirm shipment information.
    
    Please note that you can use the all-in-one [Shipping API](#tag/Shipment) as well. This API combines the functionality of the Barcode, Labelling, Confirmation and Easy Return API. With this API you generate unique barcodes at the same time you create a label and so cutting down the number of API requests.
    
    When using the [Shipping](#tag/Shipment) or Labelling API (With the Confirm boolean true in the request) the Confirming service does no longer need to be integrated in your system.
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/send-and-track/confirming-webservice/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>1_2</td>
          <td>Dec 31, 2012</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_3</td>
          <td>Nov 8, 2013</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_4</td>
          <td>Feb 27, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_5</td>
          <td>Aug 14, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_6</td>
          <td>Nov 14, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_7</td>
          <td>Jan 12, 2015</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_8</td>
          <td>Apr 24, 2015</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_9</td>
          <td>Aug 14, 2015</td>
          <td>Supported</td>
          <td>Maintenance release</td>
          <td>No</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>1_10</td>
          <td>July 15, 2017</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
        <tr>
          <td>v2</td>
          <td>Jan 25, 2019</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1.10
    
    *   PostNL has implemented a commercial route to China. In order to do this, the following fields have been added to the interface:
    
    Shipment.Customs.Content.Content.EAN  
    Shipment Customs.Content.Content.ProductURL
    
    The Shipment.Customs.Content element can occur up to 10 times instead of 5.
    
    *   The delivery option Delivery on demand (MyTime) has been introduced and the following fields have been added to the interface:
    
    DeliveryTimestampStart  
    DeliveryTimestampEnd
    
    _NOTE: THIS PRODUCT NO LONGER EXISTS._
    
    #### v2
    
    *   The following fields have been added to the interface for International shipments:
    
    Shipment.Customs.TrustedShipperID  
    Shipment.Customs.ImporterReferenceCode  
    Shipment.Customs.TransactionCode  
    Shipment.Customs.TransactionDescription
- name: Track & Trace
  description: |
    ### Summary
    
    * Reason to Call: Receive status information about the shipments.
    * Input: Customer number, barcode or reference.
    * Output: Status information about the shipment(s).
    
    Please note that we have a (pilot) webhooks solution. You can sign up for this solution by sending an email to [DEVELOPER](mailto:developer@postnl.nl). After approval and verifying a number of data our engineers will arrange this webhooks configuration.
    
    ### Guidelines
    
    At the <a href="https://developer.postnl.nl/" target="_blank" rel="noopener noreferrer">Developer Portal</a> you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    <button type="button">
      <a href="https://developer.postnl.nl/browse-apis/send-and-track/shippingstatus-webservice/" target="_blank" rel="noopener noreferrer">Documentation</a>
    </button>
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <td>API </td>
          <td>Release date </td>
          <td>Status </td>
          <td>Release notes </td>
          <td>Schema Changes </td>
          <td>Available as </td>
        </tr>
        <tr>
          <td>1_1 </td>
          <td>Oct 1, 2012 </td>
          <td>Not supported </td>
          <td/>
          <td/>
          <td/>
        </tr>
        <tr>
          <td>1_2 </td>
          <td>Nov 8, 2013 </td>
          <td>Not supported </td>
          <td/>
          <td/>
          <td/>
        </tr>
        <tr>
          <td>1_3 </td>
          <td>Feb 27, 2014 </td>
          <td>Supported </td>
          <td>See below </td>
          <td>Yes </td>
          <td/>
        </tr>
        <tr>
          <td>1_4 </td>
          <td>Aug 14, 2014 </td>
          <td>Supported </td>
          <td>Different namespaces </td>
          <td>Yes </td>
          <td/>
        </tr>
        <tr>
          <td>1_5 </td>
          <td>Jan 12, 2015 </td>
          <td>Not supported </td>
          <td/>
          <td/>
          <td/>
        </tr>
        <tr>
          <td>1_6 </td>
          <td>Jun 01, 2017 </td>
          <td>Supported </td>
          <td>See below </td>
          <td>Yes </td>
          <td>REST and SOAP </td>
        </tr>
        <tr>
          <td>v2 </td>
          <td>Feb 12, 2018 </td>
          <td>Supported </td>
          <td>See below </td>
          <td>Yes </td>
          <td>REST </td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1.3
    
    * Changed fields in CurrentStatus response:
        Added Shipments/ProductOptions
    * Changed fields in CompleteStatus response:  
        Added Shipments/ProductOptions
    
    #### v1.6
    
    * The following fields have been added to the interface:  
        CurrentStatusResponseShipment/DeliveryDate  
        CurrentStatusResponseShipment/Expectation  
        CompleteStatusResponseShipment/DeliveryDate  
        CompleteStatusResponseShipment/Expectation  
    
    #### V2
    
    * A new method has ben added to the interface;  
        /v2/status/{customernumber}/updatedshipments. This method returns the updated statuses for a particular customer number.  
        The following fields have been added to the interface;  
        * maxDays
        * language
- name: Error codes
  description: |
    
    # Generic
    
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>The username/password  combination is incorrect.</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Service is currently  disabled</td>
        </tr>
        <tr>
          <td>1000</td>
          <td>Check Exception in the  detail section</td>
        </tr>
        <tr>
          <td>1001</td>
          <td>API Framework Message  Interceptor</td>
        </tr>
        <tr>
          <td>1002</td>
          <td>Exception occured,  Message: {0}, stacktrace {1}.</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Exception occured  connecting to a backend service.</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Exception occured: {0}</td>
        </tr>
        <tr>
          <td>16</td>
          <td>{0} not found.</td>
        </tr>
        <tr>
          <td>17</td>
          <td>Message validation  failed due to incorrect message format</td>
        </tr>
        <tr>
          <td>2</td>
          <td>The user is not  authorized for the method '{0}'.</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Username/password is  not specified.</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Required parameter  '{0}' is missing.</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Value '{0}' is not in  the correct format '{1}'.</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Value '{0}' is not in  the correct range '{1} - {2}'.</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Parameter '{0}' may  not be null</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Parameter '{0}' must  be null.</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Number of requests  exceed the maximum of {0} requests/second</td>
        </tr>
      </tbody>
    </table>
    
    # Send & Track Errors
    
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>14101</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>14102</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20001</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20002</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20003</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20004</td>
          <td>VerwachtingSrtCode is not a valid {0} VerwachtingSrtCode</td>
        </tr>
        <tr>
          <td>20005</td>
          <td>{0} is after {1}</td>
        </tr>
        <tr>
          <td>20006</td>
          <td>DateTime range not within same {0}</td>
        </tr>
        <tr>
          <td>20007</td>
          <td>Chosen date not possible</td>
        </tr>
        <tr>
          <td>20008</td>
          <td>A date more than {0} days in the future is not allowed</td>
        </tr>
        <tr>
          <td>15001</td>
          <td>Downstream barcode is not defined</td>
        </tr>
        <tr>
          <td>15002</td>
          <td>Barcode is not a valid {0} barcode</td>
        </tr>
        <tr>
          <td>12501</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>12502</td>
          <td>{0} is invalid</td>
        </tr>
        <tr>
          <td>16201</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>16202</td>
          <td>Length of 2S type barcode must be between 11 and 15</td>
        </tr>
        <tr>
          <td>16203</td>
          <td>Barcode is not a valid {0} barcode</td>
        </tr>
        <tr>
          <td>14001</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>14002</td>
          <td>Barcode length must be 13</td>
        </tr>
        <tr>
          <td>14003</td>
          <td>Barcode is not a valid {0} barcode</td>
        </tr>
        <tr>
          <td>10301</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>10302</td>
          <td>Length of 3S type barcode must be between 13 and 15</td>
        </tr>
        <tr>
          <td>10303</td>
          <td>Barcode is not a valid {0} barcode</td>
        </tr>
        <tr>
          <td>10401{0}</td>
          <td>An Antwoordnummer is not allowed for address type ({0})</td>
        </tr>
        <tr>
          <td>10402{0}</td>
          <td>Address is missing for address type ({0})</td>
        </tr>
        <tr>
          <td>10404{0}</td>
          <td>Address is missing for address type ({0})</td>
        </tr>
        <tr>
          <td>10405{0}</td>
          <td>Address type {0} must be an antwoordnummer</td>
        </tr>
        <tr>
          <td>10601</td>
          <td>Receiver address cannot be a postal box</td>
        </tr>
        <tr>
          <td>10602</td>
          <td>Receiver {0} is required</td>
        </tr>
        <tr>
          <td>10701</td>
          <td>Barcode is not a valid {0} barcode</td>
        </tr>
        <tr>
          <td>10702</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>10801</td>
          <td>Receiver address cannot be from 'Waddeneilanden'</td>
        </tr>
        <tr>
          <td>10802</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>13801</td>
          <td>Insurance is not allowed for this product code</td>
        </tr>
        <tr>
          <td>11101</td>
          <td>A 3S barcode and a 2S barcode is required</td>
        </tr>
        <tr>
          <td>11102</td>
          <td>Barcode is not a valid {0} barcode</td>
        </tr>
        <tr>
          <td>11103</td>
          <td>Barcode is not a valid {0} barcode</td>
        </tr>
        <tr>
          <td>11104</td>
          <td>Parcel count and parcel number cannot differ from 1</td>
        </tr>
        <tr>
          <td>11501</td>
          <td>Empty request data</td>
        </tr>
        <tr>
          <td>11502</td>
          <td>Receiver {0} is required</td>
        </tr>
        <tr>
          <td>11503</td>
          <td>Receiver {0} is required</td>
        </tr>
        <tr>
          <td>11504</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>11505</td>
          <td>For this product the {0} is required.</td>
        </tr>
        <tr>
          <td>13702</td>
          <td>The parent shipment requires {0}</td>
        </tr>
        <tr>
          <td>13703</td>
          <td>The parent shipment requires {0}</td>
        </tr>
        <tr>
          <td>13704</td>
          <td>The child shipment cannot contain {0}</td>
        </tr>
        <tr>
          <td>13705</td>
          <td>The child shipment cannot contain {0}</td>
        </tr>
        <tr>
          <td>13706</td>
          <td>{0} is invalid</td>
        </tr>
        <tr>
          <td>13707</td>
          <td>{0} is too large for this product{1} it cannot exceed {2} EUR</td>
        </tr>
        <tr>
          <td>13708</td>
          <td>Length of BIC must be between 8 and 11.</td>
        </tr>
        <tr>
          <td>11000</td>
          <td>Missing configuration parameter {0}</td>
        </tr>
        <tr>
          <td>11001</td>
          <td>No data in the Collo found matching the configured Contact type or a&nbsp;&nbsp;&nbsp;non-existend contact type configured</td>
        </tr>
        <tr>
          <td>110102</td>
          <td>Email of {0} is required</td>
        </tr>
        <tr>
          <td>110202</td>
          <td>Email of {0} is required</td>
        </tr>
        <tr>
          <td>110103</td>
          <td>Phone number of {0} is required</td>
        </tr>
        <tr>
          <td>110203</td>
          <td>Phone number of {0} is required</td>
        </tr>
        <tr>
          <td>110104</td>
          <td>Email or Phone number of {0} is required</td>
        </tr>
        <tr>
          <td>110204</td>
          <td>Email or Phone number of {0} is required</td>
        </tr>
        <tr>
          <td>110106</td>
          <td>Email does not meet the correct format</td>
        </tr>
        <tr>
          <td>11{0}07</td>
          <td>Email is longer than 50 characters</td>
        </tr>
        <tr>
          <td>110206</td>
          <td>Email does not meet the correct format</td>
        </tr>
        <tr>
          <td>11008</td>
          <td>Taal only accepts characters A-Z with a length of 2.</td>
        </tr>
        <tr>
          <td>19001</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>19002{0}</td>
          <td>Address type {0} and {1} is required</td>
        </tr>
        <tr>
          <td>19003{0}</td>
          <td>Country with address type {0} and {1} is required</td>
        </tr>
        <tr>
          <td>19004{0}</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>19005{0}</td>
          <td>Countries in {0} and {1} address not allowed together for this product</td>
        </tr>
        <tr>
          <td>12701</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>127{0}02</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>127{0}03</td>
          <td>Country of address type {0} is required</td>
        </tr>
        <tr>
          <td>127{0}04</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>127{0}05</td>
          <td>Only {0} is allowed for address type {1}</td>
        </tr>
        <tr>
          <td>127{0}06</td>
          <td>{0} is not allowed for address type {1}</td>
        </tr>
        <tr>
          <td>127{0}07</td>
          <td>The country in address type {0} must be a country in {1}</td>
        </tr>
        <tr>
          <td>127{0}08</td>
          <td>The country in address type {0} must be outside {1}</td>
        </tr>
        <tr>
          <td>16301</td>
          <td>Customs segment is required</td>
        </tr>
        <tr>
          <td>16302</td>
          <td>GlobalPack customs are required</td>
        </tr>
        <tr>
          <td>16303</td>
          <td>The weight: {0} for item '{1}' for shipment '{2}' is not allowed</td>
        </tr>
        <tr>
          <td>16304</td>
          <td>Weight cannot exceed {0} grams</td>
        </tr>
        <tr>
          <td>16305</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>16306</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>12201</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>12202</td>
          <td>{0} is invalid</td>
        </tr>
        <tr>
          <td>12203</td>
          <td>{0} is unknown</td>
        </tr>
        <tr>
          <td>12204</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>12205</td>
          <td>{0} date is on exception date</td>
        </tr>
        <tr>
          <td>12207</td>
          <td>Exception occurred in the back-end webservice</td>
        </tr>
        <tr>
          <td>12208</td>
          <td>{0} delivery is not allowed for given data (address and/or date)</td>
        </tr>
        <tr>
          <td>12209</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>12210</td>
          <td>{0} date is in incorrect format</td>
        </tr>
        <tr>
          <td>12213</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>12214</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>12215</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>12216</td>
          <td>Unable to call the back-end webservice</td>
        </tr>
        <tr>
          <td>12217</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>15403</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>15201</td>
          <td>Country code {0} should be used for addresses in {1}</td>
        </tr>
        <tr>
          <td>15202</td>
          <td>Country code {0} should be used for addresses in {1}</td>
        </tr>
        <tr>
          <td>15203</td>
          <td>Country code {0} should be used for addresses in {1}</td>
        </tr>
        <tr>
          <td>15204</td>
          <td>Country code {0} should be used for addresses in {1}</td>
        </tr>
        <tr>
          <td>15205</td>
          <td>Country code {0} should be used for addresses in {1}</td>
        </tr>
        <tr>
          <td>15206</td>
          <td>Country code {0} should be used for addresses in {1}</td>
        </tr>
        <tr>
          <td>13903</td>
          <td>Client number is not filled out</td>
        </tr>
        <tr>
          <td>13904</td>
          <td>Client number must be a numeric value</td>
        </tr>
        <tr>
          <td>13905</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>13907</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>13909</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>13910</td>
          <td>Volume {0} must be no longer than 9 digits and contain only numeric&nbsp;&nbsp;&nbsp;characters</td>
        </tr>
        <tr>
          <td>13911</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>13912</td>
          <td>Weight {0} should contain only numeric characters and can't be greater&nbsp;&nbsp;&nbsp;than 99999</td>
        </tr>
        <tr>
          <td>13913</td>
          <td>Receiver {0} is required</td>
        </tr>
        <tr>
          <td>13914</td>
          <td>Receiver Mobile {0} must be within 16 characters</td>
        </tr>
        <tr>
          <td>13915</td>
          <td>Receiver {0} is required</td>
        </tr>
        <tr>
          <td>13916</td>
          <td>Receiver email {0} must be within 50 alphanumeric characters and should&nbsp;&nbsp;&nbsp;be in correct format</td>
        </tr>
        <tr>
          <td>13917</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>13918</td>
          <td>{0} has a maximum length of {1}</td>
        </tr>
        <tr>
          <td>16901</td>
          <td>FAR web service returned no data.</td>
        </tr>
        <tr>
          <td>1690103</td>
          <td>Missing parameters for FAR web service request: {0}</td>
        </tr>
        <tr>
          <td>16902</td>
          <td>Value of '{0}' does not fit its format. Integer part can be maximum {1}&nbsp;&nbsp;&nbsp;digits long. Decimal part will be rounded to {2} digits.</td>
        </tr>
        <tr>
          <td>1690203</td>
          <td>Missing parameters for FAR web service request: {0}</td>
        </tr>
        <tr>
          <td>16904</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>16905</td>
          <td>Exception during FAR web service call: {0}</td>
        </tr>
        <tr>
          <td>169{0}</td>
          <td>Error message from web service: {0}</td>
        </tr>
        <tr>
          <td>17002</td>
          <td>Receiver mobile number should not exceed 11 characters</td>
        </tr>
        <tr>
          <td>17003</td>
          <td>Receiver mobile number should start with 1</td>
        </tr>
        <tr>
          <td>15404</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>15405</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>15406</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>13802</td>
          <td>The parent shipment requires {0}</td>
        </tr>
        <tr>
          <td>13803</td>
          <td>The child shipment cannot contain {0}</td>
        </tr>
        <tr>
          <td>13804</td>
          <td>{0} is invalid</td>
        </tr>
        <tr>
          <td>13805</td>
          <td>{0} is too large for this product{1} it cannot exceed {2} EUR</td>
        </tr>
        <tr>
          <td>16401</td>
          <td>When using multicollo shipments you must provide the Main Collo Barcode</td>
        </tr>
        <tr>
          <td>18001</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>18002</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>18003</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>18004</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>18005</td>
          <td>{0} is invalid</td>
        </tr>
        <tr>
          <td>12804</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>128{0}01</td>
          <td>Country of address type {0} is required</td>
        </tr>
        <tr>
          <td>128{0}02</td>
          <td>Incorrect address specified in address type {0}</td>
        </tr>
        <tr>
          <td>128{0}03</td>
          <td>Address is unknown</td>
        </tr>
        <tr>
          <td>13701</td>
          <td>COD is not allowed for this product</td>
        </tr>
        <tr>
          <td>13601</td>
          <td>Client number not allowed to use this product</td>
        </tr>
        <tr>
          <td>12304</td>
          <td>Receiver {0} is required</td>
        </tr>
        <tr>
          <td>12305</td>
          <td>Receiver {0} is required</td>
        </tr>
        <tr>
          <td>12306</td>
          <td>Receiver {0} is required</td>
        </tr>
        <tr>
          <td>12307</td>
          <td>Receiver {0} is required</td>
        </tr>
        <tr>
          <td>12308</td>
          <td>Pickup at PostNL location {0} is required</td>
        </tr>
        <tr>
          <td>12309</td>
          <td>Pickup at PostNL location {0} is required</td>
        </tr>
        <tr>
          <td>12310</td>
          <td>Pickup at PostNL location {0} is required</td>
        </tr>
        <tr>
          <td>12311</td>
          <td>Pickup at PostNL location {0} is required</td>
        </tr>
        <tr>
          <td>10903</td>
          <td>Pickup at PostNL location {0} is required</td>
        </tr>
        <tr>
          <td>10904</td>
          <td>Receiver {0} is required</td>
        </tr>
        <tr>
          <td>2030501</td>
          <td>Missing parameter - {0}</td>
        </tr>
        <tr>
          <td>14701</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>14702</td>
          <td>Country of address type {0} is required</td>
        </tr>
        <tr>
          <td>147{0}01</td>
          <td>Address type code {0} is required</td>
        </tr>
        <tr>
          <td>147{0}02</td>
          <td>Postcode is invalid in address type {0}</td>
        </tr>
        <tr>
          <td>147{0}03</td>
          <td>required field(s) {1} are missing for address type {0}</td>
        </tr>
        <tr>
          <td>147{0}04</td>
          <td>House number cannot be 0 for address type {0}</td>
        </tr>
        <tr>
          <td>20401</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20402</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20403</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20404</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20406</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20407</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20408</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20409</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20410</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20411</td>
          <td>{0} has a maximum length of {1}</td>
        </tr>
        <tr>
          <td>20412</td>
          <td>{0} has a maximum length of {1}</td>
        </tr>
        <tr>
          <td>20413</td>
          <td>{0} has a maximum length of {1}</td>
        </tr>
        <tr>
          <td>20414</td>
          <td>{0} has a maximum length of {1}</td>
        </tr>
        <tr>
          <td>20415</td>
          <td>{0} must be an integer and has a maximum length of {1} positions</td>
        </tr>
        <tr>
          <td>20416</td>
          <td>{0} must be an integer and has a maximum length of {1} positions</td>
        </tr>
        <tr>
          <td>20417</td>
          <td>{0} must be an integer and has a maximum length of {1} positions</td>
        </tr>
        <tr>
          <td>20418</td>
          <td>{0} must be an integer and has a maximum length of {1} positions</td>
        </tr>
        <tr>
          <td>20419</td>
          <td>{0} must be an integer and has a maximum length of {1} positions</td>
        </tr>
        <tr>
          <td>20420</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>14301</td>
          <td>Only documents are allowed for shipment {0}</td>
        </tr>
        <tr>
          <td>14301</td>
          <td>No goods are allowed for shipment {0}</td>
        </tr>
        <tr>
          <td>14302</td>
          <td>No goods are allowed for shipment {0}</td>
        </tr>
        <tr>
          <td>14201</td>
          <td>The weight {0} for shipment {1} is not allowed</td>
        </tr>
        <tr>
          <td>14202</td>
          <td>The weight is in wrong format for shipment {0}</td>
        </tr>
        <tr>
          <td>14203</td>
          <td>Missing configuration parameter {0}</td>
        </tr>
        <tr>
          <td>129{0}01</td>
          <td>No zipcode in address type {0}</td>
        </tr>
        <tr>
          <td>129{0}02</td>
          <td>Address is part of exception area</td>
        </tr>
        <tr>
          <td>12903</td>
          <td>AdrSrt.Code {0} is required</td>
        </tr>
        <tr>
          <td>19101</td>
          <td>{0} parameter is required</td>
        </tr>
        <tr>
          <td>19102</td>
          <td>Country in {0} and {1} cannot be the same</td>
        </tr>
        <tr>
          <td>13101</td>
          <td>{0} must be a numeric field and contain 2 positions</td>
        </tr>
        <tr>
          <td>17101</td>
          <td>Multicollo shipments are not allowed for this product</td>
        </tr>
        <tr>
          <td>21101</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>21102</td>
          <td>{0} has a maximum length of {1}</td>
        </tr>
        <tr>
          <td>12601</td>
          <td>For this product the {0} is required.</td>
        </tr>
        <tr>
          <td>12602</td>
          <td>For this product the {0} is required.</td>
        </tr>
        <tr>
          <td>12603</td>
          <td>For this product the {0} is required.</td>
        </tr>
        <tr>
          <td>12604</td>
          <td>For this product the {0} is required.</td>
        </tr>
        <tr>
          <td>21001</td>
          <td>Total number of colli in the shipment doesn't match with the amount of&nbsp;&nbsp;&nbsp;barcodes.</td>
        </tr>
        <tr>
          <td>21002</td>
          <td>Total number of colli is invalid.</td>
        </tr>
        <tr>
          <td>21003</td>
          <td>Count of colli is invalid.</td>
        </tr>
        <tr>
          <td>21004</td>
          <td>The count is too large for HoofdColloBarCd {0}</td>
        </tr>
        <tr>
          <td>21005</td>
          <td>Barcodes of HoofdColloBarCd {0} must be unique.</td>
        </tr>
        <tr>
          <td>21006</td>
          <td>HoofdColloBarCd {0} contains invalid shipment(s)</td>
        </tr>
        <tr>
          <td>21201</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>21202</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>21203</td>
          <td>UPN must be an integer and has a maximum length of {0} positions.</td>
        </tr>
        <tr>
          <td>21204</td>
          <td>Customer number must be an integer and has a maximum length of {0}&nbsp;&nbsp;&nbsp;positions.</td>
        </tr>
        <tr>
          <td>21205</td>
          <td>Field {0} exceeds the maximum of 6 characters</td>
        </tr>
        <tr>
          <td>21301</td>
          <td>Incorrect productcode for pickup shipment {0}.</td>
        </tr>
        <tr>
          <td>21302</td>
          <td>Group of shipments is missing valid 3S-barcode(s).</td>
        </tr>
        <tr>
          <td>21303</td>
          <td>Incorrect productcode for matching shipment {0}.</td>
        </tr>
        <tr>
          <td>21304</td>
          <td>Correct groupdata segment missing for shipment {0}.</td>
        </tr>
        <tr>
          <td>21305</td>
          <td>The barcode in the group segment has no link to other shipments or is not&nbsp;&nbsp;&nbsp;a valid 2S barcode</td>
        </tr>
        <tr>
          <td>21306</td>
          <td>{0} has no matching pickup shipment and is an orphaned shipment in the&nbsp;&nbsp;&nbsp;group.</td>
        </tr>
        <tr>
          <td>21307</td>
          <td>The barcode {0} is in an incorrect format.</td>
        </tr>
        <tr>
          <td>21401</td>
          <td>BLS code, {0}, must be an integer and must have a length of&nbsp;&nbsp;&nbsp;6 positions.</td>
        </tr>
        <tr>
          <td>21501</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>21502</td>
          <td>Barcode is not a valid {0} barcode</td>
        </tr>
        <tr>
          <td>11601</td>
          <td>Commercial Product must contain CommProduct with fields: Code max 5&nbsp;&nbsp;&nbsp;digits, Type max 3 digits.</td>
        </tr>
        <tr>
          <td>11602</td>
          <td>Commercial Product must contain Product with fields: Code max 5 digits.&nbsp;&nbsp;&nbsp;Optionally it may contain: Cat max length of 2, Line max length of 3, Type&nbsp;&nbsp;&nbsp;max length of 6, Soort max length of 4.</td>
        </tr>
        <tr>
          <td>11603</td>
          <td>Commercial Services must contain the following fields: Service Group Code&nbsp;&nbsp;&nbsp;max length of 3, Charge Code max length of 2, Characteristic Code max 3&nbsp;&nbsp;&nbsp;digits, Value Code max 3 digits. Optionally it may contain: Value AddInfoType&nbsp;&nbsp;&nbsp;max length of 8 and Value AddInfoWaarde max length of 35.</td>
        </tr>
        <tr>
          <td>11604</td>
          <td>If Commercial product contains a Bundel it has to have fields: Code max&nbsp;&nbsp;&nbsp;length of 10, Type max length of 1.</td>
        </tr>
        <tr>
          <td>20501</td>
          <td>{0} is required</td>
        </tr>
        <tr>
          <td>20502</td>
          <td>Barcode {0} is not a valid barcode</td>
        </tr>
        <tr>
          <td>22001</td>
          <td>Field {0} must be between {1} and {2} long and is required.</td>
        </tr>
        <tr>
          <td>22002</td>
          <td>Field {0} must be between {1} and {2}.</td>
        </tr>
        <tr>
          <td>16308</td>
          <td>Field {0} must be between {1} and {2}.</td>
        </tr>
        <tr>
          <td>16307</td>
          <td>Field {0} is required</td>
        </tr>
        <tr>
          <td>23001</td>
          <td>Use valid {0} phone number or don't fill field.</td>
        </tr>
        <tr>
          <td>24001</td>
          <td>Shipment was rejected by SVS</td>
        </tr>
      </tbody>
    </table>
    
    # Send & Track Warnings
    
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10403</td>
          <td>Unable to call the back-end webservice</td>
        </tr>
        <tr>
          <td>10603</td>
          <td>Unable to call the back-end webservice</td>
        </tr>
        <tr>
          <td>128{0}02</td>
          <td>Incorrect address specified in address type {0}</td>
        </tr>
        <tr>
          <td>128{0}03</td>
          <td>Address is unknown</td>
        </tr>
        <tr>
          <td>12805</td>
          <td>Unable to call the back-end webservice</td>
        </tr>
        <tr>
          <td>12101</td>
          <td>No validation was executed</td>
        </tr>
        <tr>
          <td>17201</td>
          <td>{0} is invalid</td>
        </tr>
        <tr>
          <td>17202</td>
          <td>{0} is invalid</td>
        </tr>
        <tr>
          <td>17203</td>
          <td>{0} is invalid</td>
        </tr>
        <tr>
          <td>17301</td>
          <td>{0} is invalid</td>
        </tr>
        <tr>
          <td>17401</td>
          <td>Missing field(s): {0}, {1}</td>
        </tr>
        <tr>
          <td>17402</td>
          <td>Transformation not possible, no match found. {0}</td>
        </tr>
        <tr>
          <td>17501</td>
          <td>Missing field(s): {0}, {1}</td>
        </tr>
        <tr>
          <td>17502</td>
          <td>Transformation not possible, no match found. {0}</td>
        </tr>
        <tr>
          <td>11{0}07</td>
          <td>Email is longer than 50 characters</td>
        </tr>
        <tr>
          <td>176{0}01</td>
          <td>{0} is missing in address type {1}</td>
        </tr>
        <tr>
          <td>176{0}02</td>
          <td>{0} is missing in address type {1}</td>
        </tr>
        <tr>
          <td>176{0}03</td>
          <td>The combination of Postcode and Home number has not been found for&nbsp;&nbsp;&nbsp;address type {0}</td>
        </tr>
        <tr>
          <td>17701</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>17702</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>17703</td>
          <td>An error occurred in the back-end webservice</td>
        </tr>
        <tr>
          <td>17801</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>17802</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>17803</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>17804</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>17805</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>17806</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>17807</td>
          <td>{0} is missing</td>
        </tr>
        <tr>
          <td>17808</td>
          <td>Unable to transform Commercial Product to Old Product</td>
        </tr>
        <tr>
          <td>17809</td>
          <td>COD value for shipment {0} has been removed, product is not a COD&nbsp;&nbsp;&nbsp;product.</td>
        </tr>
        <tr>
          <td>17810</td>
          <td>Insured value for shipment {0} has been removed, product is not an&nbsp;&nbsp;&nbsp;insured product.</td>
        </tr>
        <tr>
          <td>17811</td>
          <td>ContactSrt.code was changed to 01 (geadresseerde) because we didn't&nbsp;&nbsp;&nbsp;receive a contactSrt.code.</td>
        </tr>
        <tr>
          <td>17812</td>
          <td>Contact information was removed because there is no valid&nbsp;&nbsp;&nbsp;contactSrt.code.</td>
        </tr>
        <tr>
          <td>147{0}04</td>
          <td>House number cannot be 0 for address type {0}</td>
        </tr>
        <tr>
          <td>22003</td>
          <td>Field {0} is required</td>
        </tr>
        <tr>
          <td>22004</td>
          <td>Field {0} must be between {1} and {2}.</td>
        </tr>
        <tr>
          <td>179{0}</td>
          <td>Receiveraddresscode was changed to {0} because we didn’t receive a&nbsp;&nbsp;&nbsp;correct address for given Receiveraddresscode</td>
        </tr>
      </tbody>
    </table>
    
    # Checkout & Delivery Options
    
    **Location API**
    
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10</td>
          <td>No results found</td>
        </tr>
        <tr>
          <td>3000</td>
          <td>Request format is invalid</td>
        </tr>
        <tr>
          <td>3001</td>
          <td>{0} required in the request</td>
        </tr>
        <tr>
          <td>3002</td>
          <td>The provided {0} format is&nbsp;&nbsp;&nbsp;invalid</td>
        </tr>
        <tr>
          <td>3003</td>
          <td>Expected {0} for {1} but was {2}</td>
        </tr>
      </tbody>
    </table>
    
    **Deliverydate API**
    
    <table>
      <thead>
        <tr>
          <th>Error code</th>
          <th>Message based on presence field</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3001</td>
          <td>OrderDateTime required in the request</td>
        </tr>
        <tr>
          <td>3000</td>
          <td>Error: Request format is invalid</td>
        </tr>
        <tr>
          <td>3003</td>
          <td>Expected {X or Y} for {Field} but was {Z}</td>
        </tr>
        <tr>
          <td>3001</td>
          <td>Postal code required in the request</td>
        </tr>
        <tr>
          <td>3010</td>
          <td>Postal code could not be found</td>
        </tr>
        <tr>
          <td>3002</td>
          <td>Postal code format is invalid (NL: postal code 6, BE postal code 4)</td>
        </tr>
        <tr>
          <td>3001</td>
          <td>Countrycode required in the request</td>
        </tr>
        <tr>
          <td>3001</td>
          <td>AddressCat 01 required in the request</td>
        </tr>
        <tr>
          <td>3004</td>
          <td>Provided combination of values of CommProductService is invalid</td>
        </tr>
      </tbody>
    </table>
    
    **Timeframe API**
    
    <table>
      <thead>
        <tr>
          <th>Error code</th>
          <th>Message based on presence field</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3000</td>
          <td>Request format is invalid</td>
        </tr>
        <tr>
          <td>3001</td>
          <td>From timeframe period required in the request</td>
        </tr>
        <tr>
          <td>3001</td>
          <td>From timeframe period required in the request</td>
        </tr>
        <tr>
          <td>3001</td>
          <td>Streetname requirend in the&nbsp;&nbsp;&nbsp;request</td>
        </tr>
        <tr>
          <td>3001</td>
          <td>Postal code required in the&nbsp;&nbsp;&nbsp;request</td>
        </tr>
      </tbody>
    </table>
    
    **Checkout API**
    
    <table>
      <thead>
        <tr>
          <th>Error code</th>
          <th>Message based on field content</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3000</td>
          <td>Error: Request format is invalid</td>
        </tr>
        <tr>
          <td>3006</td>
          <td>Expected TimeFramePeriode.To to be after TimeFramePeriod.From</td>
        </tr>
        <tr>
          <td>3002</td>
          <td>Only for AddressCat 01</td>
        </tr>
        <tr>
          <td>3010</td>
          <td>Postal code format is invalid. NL: postal code 6, BE postal&nbsp;&nbsp;&nbsp;code 4 (1000-9999) </td>
        </tr>
        <tr>
          <td>3003</td>
          <td>Only for AddressCat 01</td>
        </tr>
        <tr>
          <td>3001</td>
          <td>If an AddressCat is given but is not 01, then Address Cat 01 required</td>
        </tr>
        <tr>
          <td>3003</td>
          <td>If two AddressCat are given, (01 and the other is invalid) then Expected&nbsp;&nbsp;&nbsp;{01 or 02} for {AdressCat} but was {2}</td>
        </tr>
        <tr>
          <td>3004</td>
          <td>Provided combination of values for ProductServices and country code is&nbsp;&nbsp;&nbsp;invalid</td>
        </tr>
        <tr>
          <td>3003</td>
          <td>Expected {0-7} for {DayOfTheWeek} but was {2}</td>
        </tr>
      </tbody>
    </table>
- name: Product codes
  description: |
    
    The PostNL Parcels API can be used with a variety of PostNL Pakketten shipping products. Each shipping product requires to be agreed upon in a contract between PostNL Pakketten and customers. The product codes mentioned must be used in various requests. The combilabel product codes are mapped to regular product codes.
    
    Some specific product codes have different business rules which they need to comply with.
    
    # Destination Netherlands
    
    ## Standard Dutch domestic
    
    We distinguish these common products:
    
    <table>
      <thead>
        <tr>
          <th>Product code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3085</td>
          <td>Standard shipment</td>
        </tr>
        <tr>
          <td>
            <p>3385</p>
          </td>
          <td>
            <p>Deliver to stated address only</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3090</p>
          </td>
          <td>
            <p>Delivery to neighbour + Return when not home</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3390</p>
          </td>
          <td>
            <p>Deliver&nbsp;to stated address only&nbsp;+ Return when not home</p>
          </td>
        </tr>
      </tbody>
    </table>
    
    **Business rules (__for all products__)**
    
    * Receiver address fields required:<br>
      * Home number (only mandatory for Benelux shipments)<br>
      * Postcode (only mandatory for Benelux shipments)<br>
      * City<br>
      * Country code<br>
      * Street<br>
      * Last name/ Company name (at least one is required)
      
    * Barcode requirements (not mandatory for Parcels non-EU labels):<br>
      * Type must be 3S<br>
      * Range must be 1-4 letter string<br>
      * Serie must be 7-12 digits<br>
      * Barcode must be 13-15 characters long<br>
    
    ## Extra cover
    
    <table>
      <thead>
        <tr>
          <th>Product code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>3087</p>
          </td>
          <td>
            <p>Extra Cover</p>
          </td>
        </tr>
        <tr>
          <td>3094</td>
          <td>Extra cover + Return when not home</td>
        </tr>
      </tbody>
    </table>
    
    **Business rules**
    
    * Insurance amount (type 02) is required. 
    * Insurance amount entered cannot exceed the maximum allowed amount (€ 5000,-)
    
    ## Signature on delivery
    
    <table>
      <thead>
        <tr>
          <th>Product code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>3089</p>
          </td>
          <td>
            <p>Signature on delivery + Deliver to stated address only</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3096</p>
          </td>
          <td>
            <p>Signature on delivery + Deliver to stated address only + Return when not home</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3189</p>
          </td>
          <td>
            <p>Signature on delivery</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3389</p>
          </td>
          <td>
            <p>Signature on delivery + Return when not home</p>
          </td>
        </tr>
      </tbody>
    </table>
    
    ## Pickup points
    
    With the delivery option Pickup, your customers can choose a pickup point to pick up their parcels.
    
    More than 4000 pickup points available in supermarkets, bookstores etc.
    
    It is mandatory to use the Checkout or the Location API to show he nearest PostNL Pickup points based on the postal code or coordinates of the customers. 
    
    This frontend solution will return the correct information about the pickup point, which you will have to use in the Shipping, Labelling and/or Confirming API. Please check the specific documentation for more specific information.
        
    Note:<br>
    It is also possible to let your customers choose pickup points in Belgium. Please contact your PostNL accountmanager if you consider this option. For more information see the paragraph Pickup at PostNL Location Belgium.
    
    Furthermore, in the Shipping, Labelling and/or Confirming API you will need to provide us with:
    * the complete address of your customer
    * the complete address of the pick up point
    
    Confirming is essential for Pickup points shipments. Without an confirming on time, it is not possible to process these parcels.
    
    <table>
      <thead>
        <tr>
          <th>Product code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>3533</p>
          </td>
          <td>
            <p>Pickup + Signature on Delivery</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3534</p>
          </td>
          <td>
            <p>Pickup + Extra Cover</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3543 *</p>
          </td>
          <td>
            <p>Pickup + Signature on Delivery + Notification</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3544 *</p>
          </td>
          <td>
            <p>Pickup + Extra Cover + Notification</p>
          </td>
        </tr>
      </tbody>
    </table>
    
    \*These products can only be used after consulting your PostNL Parcels account manager.
    
    **Business rules**
    * Receiver address fields required:
      * Company name or last name
      * Street
      * Home number
      * Postcode
      * City
    * Pickup point location address fields required:
      * Company name
      * Street
      * Home number
      * Postcode
      * City
    * Receiver contact fields required (only for the product codes with Notification):
      * Email address or mobile phone number
    
    ## Mailbox parcel (brievenbuspakje)
    
    With this product you will have the possibility to send a shipment that fits into the mailbox of your customers and have some shipping status information during the shipping process.
    
    <table>
      <thead>
        <tr>
          <th>Product code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>2928</p>
          </td>
          <td>
            <p>
              <span style="font-family: Calibri, sans-serif;">Mailbox parcel + Unsorted (ongesorteerd aanleveren)</span>
            </p>
            <p>&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>2929</p>
          </td>
          <td>
            <p>Mailbox parcel + Sorted (gesorteerd aanleveren)</p>
          </td>
        </tr>
      </tbody>
    </table>
    
    **Note:** It is not possible to sent multiple shipments of this product (Multicollo) in one request to the Shipping or Labelling webservice.
    
    Please use the latest version of the Shipping | Labelling API because a required coding line is added to the Mailbox parcel label template.
    
    **What is a coding line?**<br>
    A coding line is a readable line of text, consisting of letters and numbers. It is printed on all postal items we process through our letter department and allows us to deliver your mail smarter and faster.
    
    The coding line is based on parameters such as delivery date and address and therefore address-specific content of the coding line can change over time. To ensure its validity coding lines must be retrieved from an online PostNL solution. 
    
    When the coding line has been successfully generated you will also see the Letter on the labels of the sorting center which you will need for productcode 2929 (BBP+ sorted).
    
    **Why is a coding line important?**<br>
    With a coding line, our machines and employees can prepare each postal item and ensure that it is sorted for the correct delivery area. By using a coding line, we’re able to deliver your mail smarter and faster.
    
    **Proces**<br>
    You can only generate coding lines if you add the DeliveryDate during the labelling phase. The DeliveryDate can be in the format date <dd-mm-yyyy> or in the format date+time <dd-mm-yyyy hh:mm:ss>. The date is mandatory, but you can choose whether you want to add the time as well.
    
    For a correct DeliveryDate you can use the next following working day.
    
    Please use the exact same DeliveryDate during generating labels and confirmation.
    
    **Error codes of the coding line (default coding lines)**<br>
    Please make sure that single Coding text requests are made with a minimum interval of 200 milliseconds between service calls. Also make sure to complete this process at least 3 times before falling back to the default coding line. This way you get as many good coding lines as possible on the parcels.
    
    **N0N coding line**
    
    #000N0N#00#0000#
    
    This default coding rule occurs if no proper coding rule is issued within the process before the labelling process continues.
    
    **X0X coding line**
    
    #0000X0X#00#0000#
    
    This default coding rule can be caused by a foreign address, an address unknown (to PostNL), the presence of a PostNL service at that address (eg moving service) or an incorrect use of the DeliveryDate. If larger amounts of X0X coding rules are generated, it is often because the DeliveryDate is not correctly specified (see above).
    
    ## ID check
    
    This product offers you the ability to make sure that confidential and age-validation transactions can be secure. So if you have some product(s) were identification or age control is required, it is possible to let the deliverer check the ID.
    
    **Age validation**
    
    <table>
      <thead>
        <tr>
          <th>Product code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3438</td>
          <td>Standard shipment + Age Check</td>
        </tr>
        <tr>
          <td>3443</td>
          <td>Extra Cover + Age Check</td>
        </tr>
        <tr>
          <td>3446</td>
          <td>Extra Cover + Retun when not home + Age Check</td>
        </tr>
        <tr>
          <td>3449</td>
          <td>Retun when not home + Age Check</td>
        </tr>
      </tbody>
    </table>
    
    \*These products can only be used after consulting your PostNL Pakketten account manager.
    
    Combine these product codes with the following product option: 
    
    * product option: characteristic 002, option 014
    
    We distinguish the following types:
    
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>01</td>
          <td>Dutch residence document</td>
        </tr>
        <tr>
          <td>02</td>
          <td>Dutch ID</td>
        </tr>
        <tr>
          <td>03</td>
          <td>Dutch passport</td>
        </tr>
        <tr>
          <td>04</td>
          <td>Dutch driving license</td>
        </tr>
        <tr>
          <td>05</td>
          <td>European ID</td>
        </tr>
        <tr>
          <td>07</td>
          <td>Foreign ID</td>
        </tr>
      </tbody>
    </table>
    
    **Pickup Points (ID check)**
    
    It is also possible to send the parcels to PostNL Pickup Points. Please note that you also must use the product options and business rules as described in the Pickup points paragraph. 
    
    <table>
      <thead>
        <tr>
          <th>Product code *</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3571</td>
          <td>Pickup + Age Check</td>
        </tr>
        <tr>
          <td>3574</td>
          <td>Pickup + Age Check + Notification</td>
        </tr>
        <tr>
          <td>3581</td>
          <td>Pickup + Extra Cover + Age Check</td>
        </tr>
        <tr>
          <td>3584</td>
          <td>Pickup + Extra Cover + Age Check + Notification</td>
        </tr>
      </tbody>
    </table>
    
    \*These products can only be used after consulting your PostNL Parcels account manager.
    
    ID Check products must be used in combination with a specific product option:
    
    * Age validation requires product option: characteristic 002, option 014
    
    ## Registered letter labels
    
    PostNL offers the possibility of sending registered mail items. This is called Registered letter labels. This offers you the ability to make sure that confidential and age-validation transactions can be secure. So if you have some letter(s) were identification or age control is required, it is possible to let the deliverer check the ID.
    
    There are two possibilities:
    
    * Registered letters (1010, 1011, 1020, 1410, 1420)
    
    * ID check labels (1175)
    
    These products can only be used after consulting your PostNL account manager.
    
    <table>
      <thead>
        <tr>
          <th>Product code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>1010, 1011*</p>
          </td>
          <td>
            <p>Registered letter</p>
          </td>
        </tr>
        <tr>
          <td>1020</td>
          <td>Registered parcels Losse Post</td>
        </tr>
        <tr>
          <td>1410</td>
          <td>Registered letters Partijen Post</td>
        </tr>
        <tr>
          <td>1420</td>
          <td>Registered parcels Partijen Post</td>
        </tr>
        <tr>
          <td>
            <p>1175</p>
          </td>
          <td>
            <p>Letter + ID check</p>
          </td>
        </tr>
      </tbody>
    </table>
    
    \* To be used in combination with franking machine.
    
    ## Dangerous goods
    
    Offering dangerous goods (ADR shipments) with a statutory exemption, is only possible if a special business contract of carriage has been concluded with PostNL Pakketten. The transport of dangerous goods with a statutory exemption is permitted subject to certain conditions. Please contact your PostNL Pakketten account manager if you want to ship this goods. All the domestic product codes can be used in combination with dangerous goods, except the product codes for letters. The products can only be used after consulting your PostNL Pakketten account manager. 
    
    Combine these product codes with the following product option:
    
    * product option: characteristic 136, option 006
    
    **Business rules**
    
    * Product option and Characteristic are required. 
    * Field Reference must be filled with ADR/LQ (possibly followed by your own customer reference)
    
    ## Pickup service
    
    The Afhaalservice Basis and Plus (Pickup Basic and Plus) allows you to instruct a PostNL Parcels driver to go to a specific address on a specific date to retrieve (a) parcel(s). A maximum of 5 parcels can be collected per pick up, pick up requests with more than 5 parcels will be denied. The parcel(s) will then be delivered to an (antwoordnummer)address specified by you. The driver will provide the shipment label, so there is no option to create one via the API. For these products, the Confirming WebService must be used. For an example of a Pickup basic shipment, please refer to the Confirming WebService documentation.
    
    <table>
      <thead>
        <tr>
          <th>Product code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>3151*</p>
          </td>
          <td>
            <p>Pickup Plus (collection order)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3160**</p>
          </td>
          <td>
            <p>Pickup Basic (collection order)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3238</p>
          </td>
          <td>
            <p>Pickup Plus (delivery order)</p>
          </td>
        </tr>
      </tbody>
    </table>
    
    \*If you use the Pickup Plus service you must use both product codes (3151 and 3238).     
    
    \*\*If you use the Pickup Basic service you must use both product codes (3160 and 3238).
    
    Pickup products have a specific structure different from regular parcels or Cargo shipments. Pickup products consist of two Shipments, the collection order and the delivery order. Both orders must be placed in a separate Shipment in the request. This means that a request for a pickup product will contain two Shipment segments. Please refer to the Confirming API documentation for an example of a pickup plus order and a pickup basic order.
    
    Business rules (Customer)
    
    * A customer with AddressType 02 is required.
    
    Business rules (Shipment)
     
    * A shipment with 
      * AddressType 04 (collection address)
      * 2S barcode
      * Product code 3151 (Plus) or 3160 (Basic).
      * CollectionTimeStampEnd
      * CollectionTimeStampBegin
    
    * A shipment with 
      * AddressType 01 (receiver address). For Pickup Basic (3160) an Antwoordnummer address is required.
      * 3S barcode. The 3S barcode should be exactly the same as the 2S barcode; the number of characters. But with 3S instead of 2S.
      * Product code 3238.
      * Maximum 5 parcels per pick up
    
    * A GroupType with 
      * 2S barcode of the first shipment
      * Count 
      * Sequence
    
    **Pickup Basic and Plus**<br>
    Pickup plus products consist of two Shipments, the collection order and the delivery order. Both orders must be placed in a separate Shipment in the request. This means that a request for a pickup plus product will contain two Shipment segments. The below structure is required:
    
    <table>
      <thead>
        <tr>
          <th>Pickup plus Confirming structure</th>
          <th>Pickup basic Confirming structure</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>Customer</p>
          </td>
          <td>
            <p>Customer</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Message</p>
          </td>
          <td>
            <p>Message</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Shipments</p>
          </td>
          <td>
            <p>Shipments</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="padding-left: 20px;">Shipment</p>
            <ul>
              <li>AddressType 04</li>
              <li>2S barcode</li>
              <li>CollectionTimeStampEnd</li>
              <li>CollectionTimeStampBegin</li>
              <li>ProductCode 3151</li>
            </ul>
          </td>
          <td>
            <p style="padding-left: 20px;">Shipment</p>
            <ul>
              <li>AddressType 04</li>
              <li>2S barcode</li>
              <li>CollectionTimeStampEnd</li>
              <li>CollectionTimeStampBegin</li>
              <li>ProductCode 3160</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <p style="padding-left: 20px;">Shipment</p>
            <ul>
              <li>AddressType 01</li>
              <li>3S barcode the same as 2S (but with 3S)</li>
              <li>Grouptype 01</li>
              <li>Mainbarcode 2S of first shipment</li>
              <li>GroupCount</li>
              <li>GroupSequence</li>
              <li>ProductCode 3238</li>
            </ul>
          </td>
          <td>
            <p style="padding-left: 20px;">Shipment</p>
            <ul>
              <li>AddressType 01
                <ul>
                  <li>Antwoordnummer required</li>
                </ul>
              </li>
              <li>3S barcode the same as 2S (but with 3S)</li>
              <li>Grouptype 01</li>
              <li>Mainbarcode 2S of first shipment</li>
              <li>GroupCount</li>
              <li>GroupSequence</li>
              <li>ProductCode 3238</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    
    ## Evening delivery
    
    PostNL will deliver parcels on working days between 5.30 – 10.00 pm. It is mandatory to use the Checkout or delivery options API('s) of PostNL to let your customers choose an evening for the delivery. This frontend solution (Timeframe API) will return the correct information about the delivery, which you will have to use in the confirming and / or labelling service. For example: for evening delivery you will need product options. Please check the specific confirming and / or labelling documentation for more information.
    
    You will need to provide us with the delivery date of the parcel. This delivery date will be checked in our database. We cannot provide evening delivery for all addresses in the Netherlands. Therefore, it is important to check if the stated delivery date and postal code are known in our database.
    
    For evening delivery, confirming is essential. Without a confirming on time, it is not possible to process these parcels. Therefore, we strongly advise to use the method ‘generate label’ in the labelling service. Furthermore, you need to hand over the parcels one day before the delivery date. If you hand over the evening parcels too soon or too late, they will be delivered the next evening.
    
    <table>
      <thead>
        <tr>
          <th>Product code *</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3085 **</td>
          <td>Standard shipment</td>
        </tr>
        <tr>
          <td>
            <p>3087 **</p>
          </td>
          <td>
            <p>Extra cover</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3089 **</p>
          </td>
          <td>
            <p>Signature on delivery + Deliver to stated address only</p>
          </td>
        </tr>
        <tr>
          <td>3090 **</td>
          <td>
            <p>Delivery to neighbour + Return when not home</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3094 **</p>
          </td>
          <td>
            <p>Extra cover + Return when not home</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3096 **</p>
          </td>
          <td>
            <p>Signature on delivery + Deliver to stated address only + Return when not home</p>
          </td>
        </tr>
        <tr>
          <td>3189 **</td>
          <td>Signature on delivery</td>
        </tr>
        <tr>
          <td>
            <p>3385 **</p>
          </td>
          <td>
            <p>Deliver to stated address only</p>
          </td>
        </tr>
        <tr>
          <td>3389 **</td>
          <td>Signature on delivery + Return when not home</td>
        </tr>
        <tr>
          <td>
            <p>3390 **</p>
          </td>
          <td>
            <p>Deliver to stated address only + Return when not home</p>
          </td>
        </tr>
      </tbody>
    </table>
    
    \*These products can only be used after consulting your PostNL Pakketten account manager.
    \*\*It is mandatory to use a combination of product code and a product option. The PostNL frontend will return this product option.
    
    Combine these product codes with the following product option:
    
    * product option: characteristic 118, option 006
    
    **Business rules**
    
    * Delivery date is required:
      * Evening delivery must be allowed on the given delivery date
    * Receiver address fields required:
      * Company name or last name 
      * Street 
      * Home number 
      * Postcode 
      * City
    * Evening delivery must be allowed on the address specified
      * Receiver contact mobile or email is required
    
    ## Sunday delivery
    
    PostNL will deliver parcels on Sundays between 10:00 -20:00 pm.
    
    You will need to provide us with the delivery date of the parcel. This delivery date will be checked in our database. We cannot provide Sunday delivery for all addresses in the Netherlands. Therefore, it is important to check if the stated delivery date and postal code are known in our database. 
    
    <table>
      <thead>
        <tr>
          <th>Product code *</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>3087**</p>
          </td>
          <td>
            <p>Extra cover</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3089 **</p>
          </td>
          <td>
            <p>Signature on delivery + Deliver to stated address only</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3094 **</p>
          </td>
          <td>
            <p>Extra cover + Return when not home</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3096 **</p>
          </td>
          <td>
            <p>Signature on delivery + Deliver to stated address only + Return when not home</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3385 **</p>
          </td>
          <td>
            <p>Deliver to stated address only</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3390 **</p>
          </td>
          <td>
            <p>Deliver to stated address only + Return when not home</p>
          </td>
        </tr>
      </tbody>
    </table>
    
    \*These products can only be used after consulting your PostNL Pakketten account manager
    \*\*It is mandatory to use a combination of product code and a product option.
    
    Combine these product codes with the following product option: 
    
    * product option: characteristic 101, option 008
    
    **Business rules**
    
    * Delivery date is required:
      * Sunday delivery must be allowed on the given delivery date
    * Receiver address fields required
      * Company name or last name
      * Street
      * Home number
      * Postcode
      * City
    * Sunday delivery must be allowed on the address specified
    
    ## Today delivery
    
    PostNL Parcels offers the possibility to hand over parcels to PostNL on working days between 05.00 and 11.00 AM. These parcels will be delivered on the same evening (note: only working days Monday to Friday) between 5.30 PM and 10.00 PM. It is mandatory to retrieve availability of a given address for Today delivery using the Checkout or delivery options API('s).  a front-end solution (webservice). Please consult the documentation and business rules for more information about the front-end solutions.   
    
    Confirming the Today delivery is essential. When using the PostNL Shipping or Labelling API to confirm shipments, a shipment is confirmed by default. In the situation that you override this setting with confirm=false in the URL (I.e. only requesting a label), confirming the shipment separately via the PostNL Confirming API is necessary. 
     
    Without a confirmation before 10AM on day of handover to PostNL, it is not possible to process these parcels in time. 
     
    Furthermore, parcels need to be handed over between 05.00 and 11.00 AM at the specified  location for Today. If Today parcels are handed over to the wrong location, they will be delivered the next day at the first available delivery moment.
    
    <table>
      <thead>
        <tr>
          <th>Product code *</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3085 **</td>
          <td>Standard shipment</td>
        </tr>
        <tr>
          <td>
            <p>3087 **</p>
          </td>
          <td>
            <p>Extra cover</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3089 **</p>
          </td>
          <td>
            <p>Signature on delivery + Deliver to stated address only</p>
          </td>
        </tr>
        <tr>
          <td>3090 **</td>
          <td>
            <p>Delivery to neighbour + Return when not home</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3094 **</p>
          </td>
          <td>
            <p>Extra cover + Return when not home</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3096 **</p>
          </td>
          <td>
            <p>Signature on delivery + Deliver to stated address only + Return when not home</p>
          </td>
        </tr>
        <tr>
          <td>3189 **</td>
          <td>Signature on delivery</td>
        </tr>
        <tr>
          <td>
            <p>3385 **</p>
          </td>
          <td>
            <p>Deliver to stated address only</p>
          </td>
[...]
