openapi: 3.0.0
info:
  title: PostNL APIs
  description: |
    Collection of PostNL API's for ecommerce processes
  version: v1
  x-logo:
    url: http://localhost:7001/oas/logo.png
servers:
  - url: 'https://api-sandbox.postnl.nl'
  - url: 'https://api.postnl.nl'
x-tagGroups:
  - name: ''
    tags:
    - Checkout postalcode check
    - Checkout
    - Deliverydate
    - Locations
    - Timeframes
    - Shipping
    - Barcode
    - Confirming
    - Track & Trace
  - name: ''
    tags:
    - Reference data
tags:
- name: Checkout postalcode check
  description: |
    
    ### Summary
    
    * Reason to Call: Check Dutch address data that is entered in your webshop checkout.*   Input: Postalcode + housenumber (+ housenumberaddition)*   Output: Address
    
    ### Guidelines
    
    At the [DEVELOPER CENTER](https://developer.postnl.nl/browse-apis/checkout/checkout-postalcode-check/documentation/) you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1</td>
          <td>July 05, 2019</td>
          <td>Current version</td>
          <td>First version</td>
          <td>-</td>
          <td>REST</td>
        </tr>
      </tbody>
    </table>
    
- name: Checkout
  description: |
  
    ### Summary
    
    *   Reason to Call: Receive information regarding delivery options.*   Input: Details of dates, address of the customer, order date and delivery options.*   Output: Timeframes and pickup locations.
    
    Combines the functionality of the DeliveryDate, Timeframe and Location API.
    
    ### Guidelines
    
    At the [DEVELOPER CENTER](https://developer.postnl.nl/browse-apis/checkout/checkout-api/documentation/) you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1</td>
          <td>July 05, 2019</td>
          <td>Current version</td>
          <td>First version</td>
          <td>-</td>
          <td>REST</td>
        </tr>
      </tbody>
    </table>
  
- name: Deliverydate
  description: |
  
    ### Summary
    
    *   Reason to Call: Find out the expected delivery date or proposed sent date of the parcels.*   Input: Address, postalcode, shipping- or delivery date and delivery options.*   Output: Delivery date and Sent date.
    
    Please note that you can use the all-in-one [Checkout API](#tag/Checkout) as well. This API combines he the functionality of the DeliveryDate, Location and Timeframe webservices. So it will be easier to implement the PostNL delivery options and there is less overhead in requesting the PostNL services by using this 3-in-1 API.
    
    ### Guidelines
    
    At the [DEVELOPER CENTER](https://developer.postnl.nl/browse-apis/delivery-options/deliverydate-webservice/documentation/) you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1_0</td>
          <td>Oct 07, 2013</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_1</td>
          <td>Jan 24, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_2</td>
          <td>Aug 14, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v2_0</td>
          <td>Aug 14, 2015</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_1</td>
          <td>Nov 03, 2015</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_2</td>
          <td>Aug 24, 2017</td>
          <td>Current version</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v2.0
    
    *   CutOffTime and CutOffTimeForSundaySorting replaced by CutOffTimes list. In the previous version of the GetDeliveryDate method, cut off times were specified for weekdays and Sunday in two fields. It is now possible to specify cut off times for every day of the week in the new CutOffTimes field.*   Options field added. It is now possible to specify which delivery options should be considered when returning a delivery or sent date using the new Options field.*   New and updated address fields. Several address fields have been added to the GetDeliveryDate and GetSendDate elements to specify the delivery address more precisely. These fields are: Street, HouseNrExt, City and CountryCode.  
        Furthermore, the HouseNumber field has been renamed to HouseNr.
    
    #### v2.1
    
    *   GetDeliveryDateResponse.Option is removed from the interface. The GetDeliveryDateResponse.Options is added to the interface.
    
    #### v2.2
    
    *   Thee following fields have been added to the interface:  
        OriginCountryCode  
        CutoffTime.Available  
        New delivery option: MyTime (Delivery on demand)
  
- name: Locations
  description: |
  
    ### Summary
    
    *   Reason to Call: Retrieve a list of pick up points that support the option for direct delivery to a standard pick up point.*   Input: Address, city and country code of the preferred location Or longitude and latitude.*   Output: Locations nearest to the supplied address, location within the supplied area or location information of the location code.
    
    Please note that you can use the all-in-one [Checkout API](#tag/Checkout) as well. This API combines he the functionality of the DeliveryDate, Location and Timeframe webservices. So it will be easier to implement the PostNL delivery options and there is less overhead in requesting the PostNL services by using this 3-in-1 API.
    
    ### Guidelines
    
    At the [DEVELOPER CENTER](https://developer.postnl.nl/browse-apis/delivery-options/location-webservice/documentation/) you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1_0</td>
          <td>Jul 22, 2013</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_1</td>
          <td>Aug 21, 2014</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_0</td>
          <td>Aug 14, 2015</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v2_1</td>
          <td>May 10, 2016</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
        <tr>
          <td>v3</td>
          <td>Jan 01, 2020</td>
          <td>Current version</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1.1
    
    *   The operation GetNearestLocations has been updated with new request properties:  
        Countrycode [M] has been added for international locations  
        Location.City [O] has been added for better international matching  
        Location.HouseNr [O] has been added for better international matching  
        Location.HouseNrExt [O] has been added for better international matching  
        Location.Street [O] has been added for better international matching*   The operation GetLocationsInArea has been updated with new request properties:  
        Countrycode [M] has been added for international locations*   The operation GetBLSLocation has been removed*   The operation GetLocation has been added*   The Location Type has been extended with international address properties.
    
    #### v2.1
    
    *   The Location Type has been extended with PartnerLocationCodes (ResponseLocationCode).
    
    #### v3
    
    *   The response has been made more consistent with regards to data types:  
        Moved locations to a Locations array instead of GetLocationsResult.ResponseLocation  
        Forced HouseNr to return an integer  
        Forced LocationCode to return a string  
        Added LocationID as a combination of LocationCode and RetailNetworkID  
        Removed string object in OpeningHours array. The result is an array of string values for each day of the week
        
- name: Timeframes
  description: |

    ### Summary
    
    *   Reason to Call: To get a timeframe in which a parcel is estimated to be delivered.*   Input: Details of dates, delivery options and the address of the customer.*   Output: Timeframes and the possible reason no timeframe could be given.
    
    Please note that you can use the all-in-one [Checkout API](#tag/Checkout) as well. This API combines he the functionality of the DeliveryDate, Location and Timeframe webservices. So it will be easier to implement the PostNL delivery options and there is less overhead in requesting the PostNL services by using this 3-in-1 API.
    
    ### Guidelines
    
    At the [DEVELOPER CENTER](https://developer.postnl.nl/browse-apis/delivery-options/timeframe-webservice/documentation/) you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    ### Versioning
    
     <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1_0</td>
          <td>Oct 07, 2013</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_1</td>
          <td>Aug 14, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>v1_2</td>
          <td>Oct 08, 2014</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_0</td>
          <td>Aug 14, 2015</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>v2_1</td>
          <td>Jun 01, 2017</td>
          <td>Current version</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1.2
    
    *   The following field has been added to the interface: Timeframe.SundaySorting*   Methods and TijdvakType replaced by options. The methods GetDeliveryTimeframes, GetDaytimeTimeframes, GetEveningTimeframes and GetMorningTimeframes have been replaced by a single GetTimeframes method. To specify the delivery option(s) for which timeframes should be returned, the field Options has been added to the Timeframe element.
    
    #### v2.0
    
    *   The new options Sunday and Sameday are also available in the new GetTimeframes method. The field TijdvakType which indicated which delivery option was applicable to the returned Timeframe and ReasonNoTimeframe elements has been replaced by an Options field. This field uses the same values as the new Options field in the request.*   New and updated address fields. Several address fields have been added to the Timeframe element to specify the delivery address more precisely. These fields are: Street, HouseNrExt, City and CountryCode. CountryCode is a mandatory field. For an address in the Netherlands, specify NL for this field. Furthermore, the HouseNumber field has been renamed to HouseNr.
    
    #### v2.1
    
    *   Added Option value ‘MyTime’ for delivery on demand.*   The following optional fields have been added to the interface (for the delivery on demand product):  
        Timeframe.Interval (used to filter certain timeframes which can be returned for delivery on demand)  
        Timeframe.TimeframeRange.Start (used to specify a specific range of timeframes to be returned for delivery on demand)  
        Timeframe.TimeframeRange.End
    
    #### v2.2
    
    *   The following fields have been added to the interface:  
        OriginCountryCode  
        CutoffTime.Available

- name: Shipping
  description: |
  
    ### Summary
    
    *   Reason to Call: Create a barcode, shipment and send a confirmation to PostNL (optional).*   Input: All information about the shipment.*   Output: One or more shipping labels.
    
    With the Confirm boolean in the request (true of false), you can determine if you want to confirm the shipment in the same call or not.
    
    ### Guidelines
    
    At the [DEVELOPER CENTER](https://developer.postnl.nl) you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>v1</td>
          <td>April 28, 2020</td>
          <td>Current version</td>
          <td>See below</td>
          <td>-</td>
          <td>REST</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1
    
    In comparison to the Labelling API 2.2:
    
    *   If no barcode is included in the request, a unique barcode will be generated.*   Productcode 4910 (Easy Return Service) can be used in the ProductCodeDelivery attribute. So a cross-border return shipment can be made.

- name: Barcode
  description: |

    ### Summary
    
    *   Reason to Call: Generate a barcode for your parcels.*   Input: Customer code and customer number and some specifications of the required barcode.*   Output: An unique identifier to use for creating shipments and to track and trace the status of the parcels.
    
    Please note that you can use the all-in-one [Shipping API](#tag/Shipping) as well. This API combines the functionality of the Barcode, Labelling, Confirmation and Easy Return API. With this API you generate unique barcodes at the same time you create a label and so cutting down the number of API requests.
    
    ### Guidelines
    
    At the [DEVELOPER CENTER](#tag/Shipping) you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>1_0</td>
          <td>Oct 01, 2012</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_1</td>
          <td>Oct 28, 2014</td>
          <td>Current version</td>
          <td>Different namespaces</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
      </tbody>
    </table>

- name: Confirming
  description: |
  
    ### Summary
    
    *   Reason to Call: Create and send a confirmation of the parcels to the PostNL system.*   Input: Information about the shipment.*   Output: Confirm shipment information.
    
    Please note that you can use the all-in-one [Shipping API](#tag/Shipping) as well. This API combines the functionality of the Barcode, Labelling, Confirmation and Easy Return API. With this API you generate unique barcodes at the same time you create a label and so cutting down the number of API requests.
    
    When using the [Shipping](#tag/Shipping) or Labelling API (With the Confirm boolean true in the request) the Confirming service does no longer need to be integrated in your system.
    
    ### Guidelines
    
    At the [DEVELOPER CENTER](https://developer.postnl.nl) you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <th>API</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Release notes</th>
          <th>Schema changes</th>
          <th>Available as</th>
        </tr>
        <tr>
          <td>1_2</td>
          <td>Dec 31, 2012</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_3</td>
          <td>Nov 8, 2013</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_4</td>
          <td>Feb 27, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_5</td>
          <td>Aug 14, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_6</td>
          <td>Nov 14, 2014</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_7</td>
          <td>Jan 12, 2015</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_8</td>
          <td>Apr 24, 2015</td>
          <td>Not supported</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>1_9</td>
          <td>Aug 14, 2015</td>
          <td>Supported</td>
          <td>Maintenance release</td>
          <td>No</td>
          <td>SOAP</td>
        </tr>
        <tr>
          <td>1_10</td>
          <td>July 15, 2017</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
        <tr>
          <td>v2</td>
          <td>Jan 25, 2019</td>
          <td>Supported</td>
          <td>See below</td>
          <td>Yes</td>
          <td>REST and SOAP</td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1.10
    
    *   PostNL has implemented a commercial route to China. In order to do this, the following fields have been added to the interface:
    
    Shipment.Customs.Content.Content.EAN  
    Shipment Customs.Content.Content.ProductURL
    
    The Shipment.Customs.Content element can occur up to 10 times instead of 5.
    
    *   The delivery option Delivery on demand (MyTime) has been introduced and the following fields have been added to the interface:
    
    DeliveryTimestampStart  
    DeliveryTimestampEnd
    
    #### v2
    
    *   The following fields have been added to the interface for International shipments:
    
    Shipment.Customs.TrustedShipperID  
    Shipment.Customs.ImporterReferenceCode  
    Shipment.Customs.TransactionCode  
    Shipment.Customs.TransactionDescription
  
- name: Track & Trace
  description: |

    ### Summary
    
    *   Reason to Call: Receive status information about the shipments.*   Input: Customer number, barcode or reference.*   Output: Status information about the shipment(s).
    
    Please note that we have a (pilot) webhooks solution. You can sign up for this solution by sending an email to [DEVELOPER](mailto:developer@postnl.nl). After approval and verifying a number of data our engineers will arrange this webhooks configuration.
    
    ### Guidelines
    
    At the [DEVELOPER CENTER](https://developer.postnl.nl/browse-apis/send-and-track/shippingstatus-webservice/) you can find information about the use and functionality of the API. It is strongly recommended that you read this carefully before starting the implementation.
    
    ### Versioning
    
    <table>
      <tbody>
        <tr>
          <td>API </td>
          <td>Release date </td>
          <td>Status </td>
          <td>Release notes </td>
          <td>Schema Changes </td>
          <td>Available as </td>
        </tr>
        <tr>
          <td>1_1 </td>
          <td>Oct 1, 2012 </td>
          <td>Not supported </td>
          <td/>
          <td/>
          <td/>
        </tr>
        <tr>
          <td>1_2 </td>
          <td>Nov 8, 2013 </td>
          <td>Not supported </td>
          <td/>
          <td/>
          <td/>
        </tr>
        <tr>
          <td>1_3 </td>
          <td>Feb 27, 2014 </td>
          <td>Supported </td>
          <td>See below </td>
          <td>Yes </td>
          <td/>
        </tr>
        <tr>
          <td>1_4 </td>
          <td>Aug 14, 2014 </td>
          <td>Supported </td>
          <td>Different namespaces </td>
          <td>Yes </td>
          <td/>
        </tr>
        <tr>
          <td>1_5 </td>
          <td>Jan 12, 2015 </td>
          <td>Not supported </td>
          <td/>
          <td/>
          <td/>
        </tr>
        <tr>
          <td>1_6 </td>
          <td>Jun 01, 2017 </td>
          <td>Supported </td>
          <td>See below </td>
          <td>Yes </td>
          <td>REST and SOAP </td>
        </tr>
        <tr>
          <td>v2 </td>
          <td>Feb 12, 2018 </td>
          <td>Supported </td>
          <td>See below </td>
          <td>Yes </td>
          <td>REST </td>
        </tr>
        <tr>
          <td>v3 </td>
          <td>Feb 11, 2020 </td>
          <td>Current version </td>
          <td>See below </td>
          <td>Yes </td>
          <td>REST </td>
        </tr>
      </tbody>
    </table>
    
    ### Release notes
    
    #### v1.3
    
    *   Changed fields in CurrentStatus response:  
        Added Shipments/ProductOptions*   Changed fields in CompleteStatus response:  
        Added Shipments/ProductOptions
    
    #### v1.6
    
    *   The following fields have been added to the interface:  
        CurrentStatusResponseShipment/DeliveryDate  
        CurrentStatusResponseShipment/Expectation  
        CompleteStatusResponseShipment/DeliveryDate  
        CompleteStatusResponseShipment/Expectation  
    
    #### V2
    
    *   A new method has ben added to the interface;  
        /v2/status/{customernumber}/updatedshipments. This method returns the updated statuses for a particular customer number.  
        The following fields have been added to the interface;  
        maxDays  
        language  
    
        #### V3
    
        *   customerNumber parameter is now mandatory for all requests*   Added support for international mail & packets; see [this page](https://developer.postnl.nl/browse-apis/send-and-track/products/#international-mail-en-packets) for product list. Only applies to tracked/registered products*   Made the response interface more consistent:  
        All shipment data is wrapped in a Shipments array  
        COD and Insurace amount are returned in an Amounts object  
        GroupType GroupSequence, GroupCount and MainBarcode are moved to a Groups array  
        New product model is returned, see data model for specific fields

- name: Reference data
  description: |
    
    # Error codes
    
    <table width="1017" cellspacing="4" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td colspan="2" width="64">
                    <p>
                        <strong>Code</strong>
                    </p>
                </td>
                <td width="60">
                    <p>
                        <strong>Type</strong>
                    </p>
                </td>
                <td colspan="2" width="354">
                    <p>
                        <strong>Description</strong>
                    </p>
                </td>
                <td colspan="3" width="152">
                    <p>
                        <strong>Usage</strong>
                    </p>
                </td>
                <td width="387">
                    <p>
                        <strong>Occurrence</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>1</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>The username/password combination is incorrect.</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387">
                    <p>When username and/or password is incorrect. Make sure password is encrypted via SHA1 algorithm</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>10</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Service is currently disabled</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387">
                    <p>When service is not available</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>1000</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Check CIFException in the detail section</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387">
                    <p>In most cases, one or more mandatory fields have not been filled in the request</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>1001</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>CIF Framework Message Interceptor</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387"/>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>1002</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Exception occured, Message: {0}, stacktrace {1}.</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387"/>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>11</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Exception occured connecting to a backend service.</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387">
                    <p>In most cases, the request timed out. Please try again. If problem persists, contact your support contact at PostNL Parcels.</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>13</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Exception occured: {0}</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387"/>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>16</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>{0} not found.</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387"/>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>17</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Message validation failed due to incorrect message format</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387"/>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>2</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>The user is not authorized for the method '{0}'.</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387">
                    <p>When user is not authorized for a specific method</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>3</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Username/password is not specified.</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387">
                    <p>When username or password is missing</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>4</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Required parameter '{0}' is missing.</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387"/>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>5</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Value '{0}' is not in the correct format '{1}'.</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387"/>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>6</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Value '{0}' is not in the correct range '{1} - {2}'.</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387"/>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>7</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Parameter '{0}' may not be null</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387"/>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>8</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Parameter '{0}' must be null.</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387"/>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>9</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Number of requests exceed the maximum of {0} requests/second</p>
                </td>
                <td colspan="3" width="152">
                    <p>Generic</p>
                </td>
                <td width="387">
                    <p>When the user made too many requests towards the API within the mentioned period</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>2</p>
                </td>
                <td width="60">
                    <p>Warning</p>
                </td>
                <td colspan="2" width="354">
                    <p>Warning: De ColloWebservice heeft geen Colli gevonden</p>
                </td>
                <td colspan="3" width="152">
                    <p>ShippingStatus</p>
                </td>
                <td width="387">
                    <p>No data is available (yet) for this shipment</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>19</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Unknown or invalid CustomerCode</p>
                </td>
                <td colspan="3" width="152">
                    <p>ShippingStatus</p>
                </td>
                <td width="387">
                    <p>When used customer code is unknown or not authorized</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>18</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>Incorrect Barcode length: {0} for specified Type, Range and Serie</p>
                </td>
                <td colspan="3" width="152">
                    <p>Barcode</p>
                </td>
                <td width="387">
                    <p>When requested format for barcode (type of barcode, length of barcode or used customer code) is incorrect</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>21</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>The user is not authorized for this barcode</p>
                </td>
                <td colspan="3" width="152">
                    <p>Barcode</p>
                </td>
                <td width="387">
                    <p>When a barcode is requested with a range for which the user does not have authorization</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="64">
                    <p>24</p>
                </td>
                <td width="60">
                    <p>Error</p>
                </td>
                <td colspan="2" width="354">
                    <p>The user is not authorized for this operation based on the provided {0}</p>
                </td>
                <td colspan="3" width="152">
                    <p>Barcode</p>
                </td>
                <td width="387">
                    <p>When a barcode is requested with a type for which the user does not have authorization</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>1010</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Invalid length for a Base-64 char array.</p>
                </td>
                <td width="148">
                    <p>Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The field LabelSignature does not contain a correct Base64 encoded string</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>1010</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>The input is not a valid Base-64 string as it contains a non-base 64 character, more than two padding characters, or a non-white space character among the padding characters.</p>
                </td>
                <td width="148">
                    <p>Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The field LabelSignature does not contain a correct Base64 encoded string</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>1010</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Parameter not valid</p>
                </td>
                <td width="148">
                    <p>Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>This usually means that the field LabelSignature does not contain a correct Base64 encoded string, or that the signature is not a correct GIF-image file</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>1010</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Attempted to divide by zero.</p>
                </td>
                <td width="148">
                    <p>Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>Most likely because parameter Customs.Content.Quantity is zero</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10101</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Barcode has been used previously</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>10201</p>
                </td>
                <td colspan="3" width="67">
                    <p>Warning</p>
                </td>
                <td colspan="2" width="353">
                    <p>Pick up at PostNL location cannot be combined with the Cash on Delivery service</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>10202</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Cash on Delivery field may not be empty</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>10203</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Cash on Delivery amount must be greater than 0</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>10204</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Bank account number required</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>10301</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing parcel barcode</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The field Barcode is missing from the request</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10302</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Barcode length does not comply with 3S format</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The barcode should comply with 3S-standards (11-15 characters long)</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10303</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>This is not a 3S barcode</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The barcode should comply with 3S-standards (3S - CustomerCode - Serie)</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10401</p>
                </td>
                <td colspan="3" width="67">
                    <p>Warning</p>
                </td>
                <td colspan="2" width="353">
                    <p>This is an International Business Reply address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>10402</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>10501</p>
                </td>
                <td colspan="3" width="67">
                    <p>Warning</p>
                </td>
                <td colspan="2" width="353">
                    <p>This is a Military Post Office (MPO) address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The receiver address in the request is a military post address</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10502</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The receiver address in the request is missing</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10601</p>
                </td>
                <td colspan="3" width="67">
                    <p>Warning</p>
                </td>
                <td colspan="2" width="353">
                    <p>This is a PO Box address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The receiver address in the request is a po-box</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10602</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The receiver address is missing</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10701</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Invalid barcode</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The barcode given does not comply with S10-standards (prefix, usually CD followed by eight digits, one checkdigit and a country code)</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10702</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing parcel barcode</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The field Barcode is missing from the request</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10801</p>
                </td>
                <td colspan="3" width="67">
                    <p>Warning</p>
                </td>
                <td colspan="2" width="353">
                    <p>This is a Wadden island address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The receiver address in the request is a 'Waddeneilanden' address</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10802</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The receiver address is missing</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10901</p>
                </td>
                <td colspan="3" width="67">
                    <p>Warning</p>
                </td>
                <td colspan="2" width="353">
                    <p>This product code cannot be combined with Pick up at PostNL location</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The product code given in the request is not a 'PakjeGemak' product code</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10902</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Unfortunately, Pick up at PostNL location is not available for this country code</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The receiver country code given in the request is not allowed in combination with this product</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10903</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing location name for Pick up at PostNL location</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The company name of AddressType 09 should be filled in the request</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>10904</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing recipient name</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The last name of the receiver is missing form the request</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>11001</p>
                </td>
                <td colspan="3" width="67">
                    <p>Warning</p>
                </td>
                <td colspan="2" width="353">
                    <p>This Notification Service cannot be combined with Pick up at PostNL location</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The product code given in the request is not a 'PakjeGemak with notification' product code</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>11002</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>You should enter the recipient’s email address and/or mobile phone number for Pick up at PostNL location with Notification Service</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>One of the fields Contact.Email or Contact.SMSNr is required for 'PakjeGemak with notification' products</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>11101</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Invalid details for Premium Pick-up Service</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11102</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>This is not a 2S barcode</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11103</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>This is not a 3S barcode</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11201</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing product code</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The product code is missing from the request</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>11202</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The receiver address is missing from the request</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>11203</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing weight</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The field Dimension.Weight is required in the request</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>11301</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11302</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>International Business Reply number is not active</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11303</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>You cannot ship parcels to this International Business Reply number</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11304</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Your account has been blocked temporarily. Please contact your Administrator or Account Manager for more information</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11401</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Barcode is not valid for processing</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The barcode given does not comply with S10-standards (prefix, usually CD followed by eight digits, one checkdigit and a country code)</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>11402</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing parcel barcode</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The field Barcode is missing from the request</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>11501</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Request contains no data</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The backend service received an internal error, please contact your support contact at PostNL Parcels.</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>11502</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Recipient town/city is required</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The field City is required for the receiver address</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>11503</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Recipient street name is required</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The field Street is required for the receiver address</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>11504</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Parcel weight is required</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The field Dimension.Weight is required in the request</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>11601</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>No parcel structure found</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11602</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing message registration time</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11603</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing barcode</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11604</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing recipient address type</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11605</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect recipient address type</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11606</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing parcel details</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11607</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>You can not enter multiple parcel details</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11608</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11609</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing measurements</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11610</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>You cannot enter multiple measurements</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11611</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>You cannot enter multiple messages</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11612</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing shipping status information</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11613</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing shipping status information date</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11614</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect code shipping status information type</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11615</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect code shipping status information type reason</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11616</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect code shipping status information source</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11617</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing pre-alert at PostNL</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11618</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing pre-alert ID</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11619</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing creation date in pre-alert</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11620</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing amount type code</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11621</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Unknown amount type code</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11622</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Sum may not contain more than 8 figures including 2 decimals (for example: 123456,78)</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11623</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing currency code</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11624</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing weight</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11625</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing registration date</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11626</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing address type</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11627</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Unknown address type</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11628</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing house number</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11629</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Unknown address type</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11630</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect house number</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11631</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect house number extension</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11632</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect country code</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11633</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing international postcode</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11634</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing location type code</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11635</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing processing code</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11636</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect surname</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11637</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect first name</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11638</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect country code</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11639</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect house number</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11640</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect house number extension</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11641</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing international postcode</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11642</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing contact type code</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11643</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect phone number</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11644</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect mobile phone number for SMS notifications</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11645</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect email address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11646</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing customer</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11647</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing customer UPN</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11648</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing customer number</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11649</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing party code</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11650</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing product code</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11651</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>You must enter the product code for pick-up orders</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11652</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Incorrect reference</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11653</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Code may only consist of numbers (maximum 6)</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11654</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Code may only consist of numbers (maximum 6)</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11655</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing start date for pick-up</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11656</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing end date for pick-up</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11701</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Request contains no data</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11702</p>
                </td>
                <td colspan="3" width="67">
                    <p>Warning</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11703</p>
                </td>
                <td colspan="3" width="67">
                    <p>Warning</p>
                </td>
                <td colspan="2" width="353">
                    <p>Recipient's address is unknown. Please verify if the address details are correct before proceeding.</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11801</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Request contains no data</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11802</p>
                </td>
                <td colspan="3" width="67">
                    <p>Warning</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11803</p>
                </td>
                <td colspan="3" width="67">
                    <p>Warning</p>
                </td>
                <td colspan="2" width="353">
                    <p>Pick-up address is unknown. Please verify if the address details are correct before proceeding.</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11901</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Invalid product code and country combination for sender/recipient address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>11902</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Invalid combination of product code and country pick-up address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>12001</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing product code</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>12002</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing address</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>12003</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>Missing weight</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>12101</p>
                </td>
                <td colspan="3" width="67">
                    <p>Warning</p>
                </td>
                <td colspan="2" width="353">
                    <p>No validation performed</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389"/>
            </tr>
            <tr>
                <td width="61">
                    <p>12201</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>The postcode of the recipient's address is missing</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The zipcode of the receiver address is missing; unable to determine whether evening delivery is allowed</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>12202</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>The postcode of the recipient's address is incorrect</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The zipcode of the receiver address is incorrect; unable to determine whether evening delivery is allowed</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>12203</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
                <td colspan="2" width="353">
                    <p>The postcode of the recipient's address is unknown</p>
                </td>
                <td width="148">
                    <p>Confirming/Labelling</p>
                </td>
                <td colspan="3" width="389">
                    <p>The zipcode of the receiver address is unknown; unable to determine whether evening delivery is allowed</p>
                </td>
            </tr>
            <tr>
                <td width="61">
                    <p>12204</p>
                </td>
                <td colspan="3" width="67">
                    <p>Error</p>
                </td>
[...]
